.experience{
    background-image: url('../images/experience/bg_experience.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center center;
    margin-top: -80px;

    &-scrolldown{
        position: fixed;
        bottom: -58px;
        right: 1rem;
        width: 120px;
        height: 120px;
        z-index: 1;
        cursor: pointer;
        transition: linear 0.2s;
        border-radius: 50%;
        background: rgb(0 0 0 / 50%);
        transition: linear 0.2s;
        &:hover{
            bottom: -60px;
            background: rgb(255 255 255 / 10%);
        }
        img{
            display: block;
            width: 100%;
        }
    }

    .banner{
        min-height: 100vh;
        background-image: url('../images/experience/bg_banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 3rem 0 6rem 0;
        &__logo{
            display: block;
            margin: 1rem 0;
            width: 400px;
        }
        &__text1{
            border-top: solid 2px #fff;
            border-bottom: solid 2px #fff;
            width: 100%;
            max-width: 600px;
            padding: 0.8rem 0;
            text-align: center;
            letter-spacing: 1.5rem;
            font-size: 1.8rem;
            margin: 1rem 0;
        }
        &__name{
            font-size: 6rem;
            font-family: 'Louda';
            text-transform: uppercase;
        }
        p{
            font-family: 'Gotham Bold';
            width: 100%;
            max-width: 700px;
            text-align: center;
            letter-spacing: 0.2rem;
        }
        &__cta{
            position: absolute;
            left: calc(50% - 100px);
            bottom: 0;
            width: 200px;
            cursor: pointer;
            img{
                display: block;
                width: 100%;
            }
        }
    }

    .invitation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__text{
            border-top: solid 2px #8e8e8e;
            border-bottom: solid 2px #8e8e8e;
            width: 100%;
            padding: 2rem 0;
            text-align: center;
            letter-spacing: 0.5rem;
            font-size: 1.3rem;
        }
        &__image{
            display: block;
            width: 100%;
            max-width: 800px;
            margin: 2rem auto 0 auto;
        }
        .btn{
            margin-top: -1.5rem;
            margin-bottom: 2rem;
        }
    }

    .receta{
        position: relative;
        &__text{
            border-top: solid 2px #8e8e8e;
            border-bottom: solid 2px #8e8e8e;
            width: 100%;
            padding: 2rem 1rem;
            text-align: center;
            letter-spacing: 0.5rem;
            font-size: 1.3rem;
        }
        .wrapper{
            display: grid;
            grid-template-rows: 200px 300px 120px;
            grid-template-columns: repeat(3, calc(100vw/3));
            border-bottom: solid 2px #8e8e8e;
        }

        &__title{
            grid-column: 1 / 2;
            grid-row: 1 / 4;
            border-right: solid 1px #8e8e8e;
            display: flex;
            justify-content: center;
            align-items: center;
            &--mobile{
                display: none;
            }
            &--desktop{
                display: block;
                height: calc(90% - 6rem);
            }
            
        }
        &__clock{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            border-bottom: solid 1px #8e8e8e;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                display: block;
                height: 100%;
                max-height: 260px;
            }
        }
        &__name{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            border-bottom: solid 1px #8e8e8e;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.5rem;
            text-transform: uppercase;
            &-content{
                padding: 2rem 1rem;
            }
        }
        &__preparala{
            grid-column: 2 / 3;
            grid-row: 3 / 4;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            p{
                margin-bottom: 2rem;
                span{
                    font-family: 'Gotham Light';
                }
            }
            
        }
        &__image{
            grid-column: 3 / 4;
            grid-row: 1 / 4;
            border-left: solid 1px #8e8e8e;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-main{
                padding: 1rem;
                height: 100%;
                width: 100%;
                img{
                    display: block;
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                    
                }
            }
            &-controls{
                width: 100%;
                border-top: solid 1px #8e8e8e;
                display: flex;
                justify-content: center;
                align-items: stretch;
                .arrow-btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: calc(100vw / 3);
                    height: 4rem;
                    text-align: center;
                    transition: linear 0.2s;
                    svg{
                        width: 40px;
                        margin: 0 0.5rem;
                    }
                    &.arrow-left{
                        border-right: solid 1px #8e8e8e;
                        cursor: pointer;
                        svg{
                            transform: rotate(180deg);
                        }
                        &:hover{
                            background-color: #fff;
                            color: #000;
                        }
                    }
                    &.arrow-right{
                        border-left: solid 1px #8e8e8e;
                        cursor: pointer;
                        &:hover{
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
            }
        }
        .btn{
            position: absolute;
            bottom: -40px;
            left: calc(50% - 137px);
            z-index: 1;
        }
    }

    .ingredients{
        margin: 1rem 0;
        border-bottom: solid 2px #8e8e8e;
        position: relative;
        &__title{
            padding: 3rem 1rem;
            border-top: solid 2px #8e8e8e;
            border-bottom: solid 2px #8e8e8e;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                display: block;
                width: 100%;
                max-width: 800px;
                object-fit: contain;
                object-position: center;
            }
            h2{
                font-family: 'Louda';
                font-size: 6rem;
            }
            span{
                font-family: 'Gotham Medium';
                font-size: 0.8rem;
                max-width: 6rem;
                margin-left: 1.5rem;
                position: relative;
                &::after{
                    content: '';
                    background-image: url('../images/experience/virgulillas.png');
                    background-repeat: no-repeat;
                    background-size: 100%;
                    width: 50px;
                    height: 18px;
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: -25px;
                }
            }
        }
        &-carousel{
            position: relative;
            .slick-list{
                margin-top: 4rem;
                border-top: solid 2px #8e8e8e;
            }
            .slick-slide{
                &:not(:last-child){
                    border-right: solid 1px #8e8e8e;
                }
            }
            .arrow-btn{
                position: absolute;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: -4rem;
                width: calc(100vw / 3);
                height: 4rem;
                cursor: pointer;
                transition: linear 0.2s;
                text-align: center;
                svg{
                    width: 40px;
                    margin: 0 0.5rem;
                }
                &.arrow-left{
                    left: 0;
                    border-right: solid 1px #8e8e8e;
                    svg{
                        transform: rotate(180deg);
                        margin-right: 2rem;
                    }
                }
                &.arrow-right{
                    right: 0;
                    border-left: solid 1px #8e8e8e;
                    svg{
                        margin-left: 2rem;
                    }
                }

                &:hover{
                    background-color: #fff;
                    color: #000;
                }
            }
            &__item{
                padding-bottom: 5rem;
                &-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Gotham Light';
                }
                &-image{
                    display: block;
                    width: 100%;
                    height: 300px;
                    object-fit: contain;
                    object-position: center;
                    &.main-product{
                        padding: 3rem;
                    }
                }
                &-name{
                    text-align: center;
                    width: 100%;
                    padding: 0 1rem;
                }
            }
        }
        .btn{
            position: absolute;
            bottom: -40px;
            left: calc(50% - 182px);
        }
    }

    .download-ingredients{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            margin: 2rem 0 -1rem 0;
            z-index: 1;
        }
    }

    .musica{
        border-top: solid 2px #8e8e8e;
        .wrapper{
            display: grid;
            grid-template-rows: 300px 300px;
            grid-template-columns: repeat(3, calc(100vw/3));
        }

        &__text{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            border-right: solid 1px #8e8e8e;
            border-bottom: solid 1px #8e8e8e;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            &-content{
                padding: 0 4rem;
                span{
                    font-family: 'Gotham Light';
                }
            }
        }
        &__playlist1{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            border-right: solid 1px #8e8e8e;
            border-bottom: solid 1px #8e8e8e;
            padding: 2rem 1rem;
            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;
                width: 100%;
                height: 100%;
                img{
                    display: block;
                    width: 100%;
                    max-width: 160px;
                }
                p{
                    margin-bottom: 0;
                }
            }
        }
        &__playlist2{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            border-right: solid 1px #8e8e8e;
            border-bottom: solid 1px #8e8e8e;
            padding: 2rem 1rem;
            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;
                width: 100%;
                height: 100%;
                img{
                    display: block;
                    width: 100%;
                    max-width: 160px;
                }
                p{
                    margin-bottom: 0;
                }
            }
        }
        &__playlist3{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            border-right: solid 1px #8e8e8e;
            border-bottom: solid 1px #8e8e8e;
            padding: 2rem 1rem;
            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;
                width: 100%;
                height: 100%;
                img{
                    display: block;
                    width: 100%;
                    max-width: 160px;
                }
                p{
                    margin-bottom: 0;
                }
            }
        }
        &__title{
            grid-column: 3 / 4;
            grid-row: 1 / 3;
            display: flex;
            justify-content: center;
            align-items: center;
            &--desktop{
                display: block;
                height: calc(90% - 6rem);
            }
            &--mobile{
                display: none;
            }
        }
    }

    .preparate{
        border-bottom: solid 1px #8e8e8e;
        .wrapper{
            display: grid;
            grid-template-rows: 300px 300px;
            grid-template-columns: repeat(4, calc(100vw/4));
        }

        &__mesa{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            border-right: solid 1px #8e8e8e;
            border-bottom: solid 1px #8e8e8e;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                display: block;
                width: 100%;
                max-width: 250px
            }
        }
        &__menu{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            border-right: solid 1px #8e8e8e;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                display: block;
                width: 100%;
                max-width: 250px
            }
        }
        &__brindis{
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            border-right: solid 1px #8e8e8e;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                display: block;
                width: 100%;
                max-width: 250px
            }
        }
        &__title{
            grid-column: 3 / 5;
            grid-row: 1 / 2;
            border-bottom: solid 1px #8e8e8e;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 2rem;
            img{
                display: block;
                width: 90%;
            }
        }
        &__text{
            display: none;
        }
        &__listo{
            grid-column: 3 / 5;
            grid-row: 2 / 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                display: block;
                width: 100%;
                max-width: 340px;
                margin-bottom: 1rem;
            }
        }

        // &__text{
        //     grid-column: 1 / 2;
        //     grid-row: 1 / 2;
        //     border-right: solid 1px #8e8e8e;
        //     border-bottom: solid 1px #8e8e8e;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     font-size: 1.2rem;
        //     &-content{
        //         max-width: 200px;
        //     }
        // }
    }

    .goodbye{
        background-image: url('../images/experience/bg_goodbye.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        min-height: calc(100vh - 92px);
        overflow: hidden;
        &__video{
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 0;
            left: 0;
        }

        .wrapper{
            background: rgba(0, 0, 0, 0.5);
            position: relative;
            width: 100%;
            height: 100%;
            min-height: calc(100vh - 92px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
        }
        &__title{
            font-size: 6rem;
            font-family: "Louda";
            text-align: center;
        }
        &__name{
            font-size: 50px;
            font-family: "Louda";
            position: relative;
            letter-spacing: 5px;
            margin-bottom: 2rem;
            &::before{
                content: '';
                background-image: url('../images/experience/virgulillas.png');
                background-repeat: no-repeat;
                background-size: 100%;
                width: 80px;
                height: 30px;
                display: block;
                position: absolute;
                top: calc(50% - 15px);
                left: -120px;
            }
            &::after{
                content: '';
                background-image: url('../images/experience/virgulillas.png');
                background-repeat: no-repeat;
                background-size: 100%;
                width: 80px;
                height: 30px;
                display: block;
                position: absolute;
                top: calc(50% - 15px);
                right: -120px;
            }
        }
        p{
            font-family: 'Gotham Bold';
            width: 100%;
            max-width: 700px;
            text-align: center;
            letter-spacing: 0.2rem;
        }

        &__logo{
            &--parma{
                display: block;
                width: 90%;
                max-width: 200px;
            }
            &--experience{
                display: block;
                width: 90%;
                max-width: 200px;
            }
        }
    }

    .ctas{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__item{
            width: 50%;
        }

        .btn--border{
            width: 100%;
            height: 100%;
            margin: 0;
            span{
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        .btn--white{
            color: $brown;
            &:hover{
                color: white;
            }
        }
    }

}


@media(max-width: 767px){

    .experience{
        &-scrolldown{
            right: 0.5rem;
            width: 90px;
            height: 103px;
        }
        .banner{
            padding: 4rem 1rem 6rem 1rem;
            &__logo {
                width: 100%;
            }

            &__text1{
                letter-spacing: 0.5rem;
                font-size: 1.3rem;
            }
            &__name{
                font-size: 3rem;   
            }
            p{
                font-size: 1rem;
            }
        }

        .invitation{
            &__text{
                padding: 1.5rem 1rem;
                text-align: center;
                letter-spacing: 0.2rem;
                font-size: 1rem;
            }

            .btn{
                margin-top: 1rem;
            }
        }

        .receta{
            &__text{
                font-size: 1rem;
                letter-spacing: 0.2rem;
            }
            .wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
            }
            &__title {
                border-bottom: solid 1px #8e8e8e;
                padding: 1rem 0;
                order: 1;
                &--mobile{
                    display: block;
                    width: 90%;
                    max-width: 320px;
                }
                &--desktop{
                    display: none;
                }
            }
            &__name{
                order: 4;
                padding: 1rem 0;
            }
            &__clock{
                order: 2;
                img {
                    display: block;
                    height: 160px;
                }
            }
            &__preparala{
                order: 3;
                border-bottom: solid 1px #8e8e8e;
            }
            &__image{
                border-left: none;
                order: 5;
                &-main{
                    width: 80%;
                    max-width: 300px;
                }
                &-controls{
                    padding-bottom: 1rem;
                }
            }

            .btn {
                bottom: -50px;
                left: calc(50% - 98px);
            }
        }

        .ingredients{
            margin: 2rem 0;
            &-carousel{
                .slick-slide:not(:last-child) {
                    border-right: none;
                }
                .arrow-btn{
                    width: 50%;
                    &.arrow-left{
                        left: 0;
                        border-right: solid 1px #8e8e8e;
                        svg{
                            transform: rotate(180deg);
                            margin-right: 1rem;
                        }
                    }
                    &.arrow-right{
                        right: 0;
                        border-left: solid 1px #8e8e8e;
                        svg{
                            margin-left: 1rem;
                        }
                    }
                }
            }

            .btn{
                left: calc(50% - 136px);
                bottom: -46px;
            }
        }

        .musica{
            .wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
            }

            &__text{
                padding: 2rem 1rem;
                text-align: center;
                border-right: none;
                order: 1;
                &-content{
                    max-width: inherit;
                    width: 100%;
                    padding: 0 2rem;
                }
            }
            &__playlist1{
                order: 3;
                border-right: none;
            }
            &__playlist2{
                order: 4;
                border-right: none;
            }
            &__playlist3{
                order: 5;
                border-right: none;
            }
            &__title{
                order: 2;
                border-bottom: solid 1px #8e8e8e;
                &--desktop{
                    display: none;
                }
                &--mobile{
                    padding: 1rem 0;
                    display: block;
                    width: 80%;
                    max-width: 300px;
                }
            }
        }

        .preparate{
            .wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
            }

            .receta__text{
                display: none;
            }

            &__mesa{
                border-right: none;
                order: 3;
            }
            &__menu{
                border-right: none;
                border-bottom: solid 1px #8e8e8e;
                order: 4;
            }
            &__brindis{
                border-bottom: solid 1px #8e8e8e;
                order: 5;
                border-right: none;
            }
            &__title{
                order: 1;
            }
            &__text{
                display: block;
                border-bottom: solid 1px #8e8e8e;
                padding: 2rem 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                text-align: center;
                order: 2;
            }
            &__listo{
                padding: 1rem;
                text-align: center;
                order: 6;
                img{
                    width: 80%;
                    max-width: 300px;
                }
            }
        }

        .goodbye{
            &__title{
                font-size: 2.8rem;
            }
            &__name{
                font-size: 35px;
                margin-top: 0.5rem;
                &::after{
                    display: none;
                }
                &::before{
                    display: none;
                }
            }
            p{
        
            }
        }

        .ctas{
            flex-direction: column;
            &__item{
                width: 100%;
                .btn{
                    max-width: inherit;
                }
            }
        }

    } 

}