.intro{
    margin-top: -80px;

    .max600{
        max-width: 600px;
    }

    .questions{
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url('../images/experience/intro/bg_intro.jpg');

        &__bullets{
            position: absolute;
            top: calc(30%);
            right: 1rem;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Louda';
            font-size: 1.5rem;
            &-item{
                width: 2.5rem;
                border-top: solid 2px $brown;
                border-bottom: solid 2px $brown;
                margin: 1.5rem 0;
                padding: 0.5rem 0;
                position: relative;
                text-align: center;
                color: $brown;
                &:not(:last-child){
                    &::after{
                        content: "";
                        width: 0px;
                        height: 2rem;
                        border-right: dotted 3px $brown;
                        position: absolute;
                        bottom: -2.65rem;
                        left: 1.1rem;
                    }
                }
                &.active{
                    color: #fff;
                    &::before{
                        content: "Paso";
                        position: absolute;
                        left: -1.8rem;
                        top: 0.9rem;
                        font-size: 1rem;
                        letter-spacing: 0.1rem;
                    }
                }
            }
        }

        &__video{
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            object-position: center;
            position: fixed;
            top: 0;
            left: 0;
        }

        .wrapper{
            background: rgb(0 0 0 / 50%);
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 4rem 1rem 2rem 1rem;
        }

        p{
            text-align: center;
        }

        &__head{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            &-logo{
                display: block;
                margin: 1rem 0;
                width: 90%;
                max-width: 400px;
            }
            &-text{
                margin-top: 1rem;
                font-size: 1.2rem;
                text-transform: uppercase;
            }
        }

        &__body{
            width: 100%;
            height: 100%;
            min-height: 360px;
            max-width: 840px;
            flex-shrink: 0;
            flex: auto;
            position: relative;
        }
            &__item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                &-error{
                    color: #fff;
                    margin-bottom: 1.5rem;
                    font-size: 1rem;
                    background: rgb(203 24 64 / 70%);
                    width: 100%;
                    padding: 0.5rem 1rem;
                    text-align: center;
                }
                &-text{
                    font-size: 1rem;
                    text-align: center;
                }
                .options_response{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    &__item{
                        margin: 0.5rem 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        color: #fff;
                        img{
                            display: block;
                            height: 8rem;
                            transition: linear 0.2s;
                        }
                        &-name{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: flex-start;
                            p{
                                width: 100px;
                                text-align: left;
                                font-size: 0.9rem;
                            }
                            svg{
                                width: 30px;
                                transition: linear 0.2s;
                            }
                        }
                        &:hover{
                            img{
                                transform: scale(1.1);
                            }
                            .options_response__item-name{
                                svg{
                                    margin-left: 0.5rem;
                                }
                            }
                        }
                    }
                }

                label{
                    letter-spacing: 0.2rem;
                    font-size: 1.5rem;
                }

                .btn{
                    margin: 1rem 0;
                }
            }

        .form__froup{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 1rem;
            
            input{
                border: none;
                background-color: transparent;
                border-bottom: solid 2px $brown;
                margin-left: 0.5rem;
                width: 280px;
                color: #fff;
                text-align: center;
                padding: 0.5rem 1rem;
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 0.5rem;
            }
        }

        &__footer{
            letter-spacing: 0.2rem;
            font-size: 0.8rem;
            text-align: center;
        }
        
        .form__froup2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            .select-container{
                position: relative;
                // background-color: rgb(0 0 0 / 20%);
                border: solid 2px $brown;
                width: 350px;
                color: #000;
                text-align: center;
                cursor: pointer;
                margin-top: 1rem;
                cursor: pointer;
                select{
                    // background-color: transparent;
                    background-color: #fff;
                    color: #000;
                    padding: 1rem 4rem 1rem 1rem;
                    width: 100%;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none;
                    position: relative;
                    z-index: 1;
                    option{
                        color: #000;
                    }
                }
                svg{
                    transform: rotate(90deg);
                    width: 22px;
                    position: absolute;
                    top: 22px;
                    right: 18px;
                    color: #000;
                    z-index: 1;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 60px;
                    background-color: $brown;
                    z-index: 1;
                }
            }
            
        }
        
        &-4{
            background-image: url('../images/experience/intro/4/bg_4.jpg');
            justify-content: space-between;
            &__head{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            p{
                letter-spacing: 0.2rem;
            }
        }
    }

   
}


@media(max-width: 767px){

    .intro{
        .questions{
            &__bullets{
                display: none;
            }
            &__item{
                position: relative;
                padding: 2rem 0;
                label{
                    text-align: center;
                }
            }

            &__body{
                height: auto;
            }

            .form__froup{
                flex-wrap: wrap;
            }
            .form__froup2{
                .select-container{
                    width: 100%;
                }
            }
        }
    }

}