* {
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Gotham Medium';
    overflow-x: hidden;
}

ul, ol{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
}
img{
    display: block;
}
svg{
    fill: currentColor;
}

h1, h2, h3{
    margin: 0;
}

.main{
    margin-top: -80px;
    section{
        padding-top: 80px;
    }
}

.container{
    // background-color: #ff000040;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}

@media(max-width: 1023px){
  
}
@media(max-width: 767px){
    .container{
        padding: 0 1rem;
    }
 
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}


[v-cloak] {
    display: none !important;
}
