@charset "UTF-8";
@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/Gotham-BoldItalic.woff2") format("woff2"), url("../fonts/Gotham-BoldItalic.woff") format("woff"), url("../fonts/Gotham-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Black";
  src: url("../fonts/Gotham-Black.woff2") format("woff2"), url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Thin";
  src: url("../fonts/Gotham-Thin.woff2") format("woff2"), url("../fonts/Gotham-Thin.woff") format("woff"), url("../fonts/Gotham-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Thin";
  src: url("../fonts/Gotham-ThinItalic.woff2") format("woff2"), url("../fonts/Gotham-ThinItalic.woff") format("woff"), url("../fonts/Gotham-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham XLight";
  src: url("../fonts/Gotham-XLightItalic.woff2") format("woff2"), url("../fonts/Gotham-XLightItalic.woff") format("woff"), url("../fonts/Gotham-XLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham XLight";
  src: url("../fonts/Gotham-XLight.woff2") format("woff2"), url("../fonts/Gotham-XLight.woff") format("woff"), url("../fonts/Gotham-XLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Ultra";
  src: url("../fonts/Gotham-UltraItalic.woff2") format("woff2"), url("../fonts/Gotham-UltraItalic.woff") format("woff"), url("../fonts/Gotham-UltraItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham-BookItalic.woff2") format("woff2"), url("../fonts/Gotham-BookItalic.woff") format("woff"), url("../fonts/Gotham-BookItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/Gotham-Light.woff2") format("woff2"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/Gotham-LightItalic.woff2") format("woff2"), url("../fonts/Gotham-LightItalic.woff") format("woff"), url("../fonts/Gotham-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/Gotham-MediumItalic.woff2") format("woff2"), url("../fonts/Gotham-MediumItalic.woff") format("woff"), url("../fonts/Gotham-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DINPro";
  src: url("../fonts/DINPro-Black.woff2") format("woff2"), url("../fonts/DINPro-Black.woff") format("woff"), url("../fonts/DINPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DINPro";
  src: url("../fonts/DINPro-Medium.woff2") format("woff2"), url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Louda";
  src: url("../fonts/Louda-RegularSC.woff2") format("woff2"), url("../fonts/Louda-RegularSC.woff") format("woff"), url("../fonts/Louda-RegularSC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../icons/icomoon.eot?mh831");
  src: url("../icons/icomoon.eot?mh831#iefix") format("embedded-opentype"), url("../icons/icomoon.ttf?mh831") format("truetype"), url("../icons/icomoon.woff?mh831") format("woff"), url("../icons/icomoon.svg?mh831#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\E903";
}

.icon-youtube:before {
  content: "\E900";
}

.icon-instagram:before {
  content: "\E901";
}

.icon-facebook:before {
  content: "\E902";
}

.text-center {
  text-align: center;
  display: block;
}

.btn {
  border: solid 1px #8f6f4a;
  display: inline-block;
  padding: 1rem;
  margin-top: 0.5rem;
  transition: linear 0.2s;
  cursor: pointer;
}
.btn svg {
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
}
.btn--primary {
  color: #fff;
}
.btn--primary:hover {
  background-color: #8f6f4a;
}
.btn--primary:hover svg {
  color: #fff;
}
.btn--secondary {
  color: #8f6f4a;
}
.btn--secondary:hover {
  background-color: #8f6f4a;
  color: #fff;
}
.btn--secondary:hover svg {
  color: #fff;
}
.btn--contact {
  color: #fff;
  background-color: #8f6f4a;
  border: solid 2px #8f6f4a;
}
.btn--contact:hover {
  background-color: #fff;
  color: #8f6f4a;
}
.btn--contact:hover svg {
  color: #8f6f4a;
}
.btn--brown {
  color: #fff;
  background-color: #8f6f4a;
  border: solid 2px #8f6f4a;
}
.btn--brown:hover {
  background-color: #fff;
  color: #8f6f4a;
}
.btn--brown:hover svg {
  color: #8f6f4a;
}
.btn--border {
  border: none;
  padding: 0.5rem;
}
.btn--border span {
  display: inline-block;
  padding: 1rem 2rem;
  transition: linear 0.2s;
  cursor: pointer;
}
.btn--border svg {
  width: 30px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2rem;
  margin-bottom: 0.1rem;
}
.btn--border.btn--white {
  background-color: #fff;
  color: #000;
}
.btn--border.btn--white span {
  border: solid 1px #8f6f4a;
}
.btn--border.btn--white:hover {
  background-color: #8f6f4a;
  color: #fff;
}
.btn--border.btn--white:hover span {
  border: solid 1px #fff;
}
.btn--border.btn--brown {
  background-color: #8f6f4a;
  color: #fff;
}
.btn--border.btn--brown span {
  border: solid 1px #fff;
}
.btn--border.btn--brown:hover {
  background-color: #fff;
  color: #8f6f4a;
}
.btn--border.btn--brown:hover span {
  border: solid 1px #8f6f4a;
}

@media (max-width: 767px) {
  .btn {
    max-width: 300px;
  }
  .btn--border {
    border: none;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .btn--border span {
    padding: 1rem 1rem;
  }
  .btn--border svg {
    margin-left: 1rem;
    height: 10px;
  }
}
.form {
  width: 100%;
  max-width: 460px;
}
.form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(50% - 1rem);
  margin-bottom: 1rem;
}
.form-group--full {
  width: 100%;
}
.form__label {
  color: #8f6f4a;
  margin-bottom: 0.5rem;
}
.form__input {
  width: 100%;
  border: none;
  border-bottom: solid 1px #8f6f4a;
  resize: none;
  color: #8f6f4a;
  font-family: "Gotham Light";
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #ffffff;
  font-family: "Gotham Medium";
  overflow-x: hidden;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
}

svg {
  fill: currentColor;
}

h1, h2, h3 {
  margin: 0;
}

.main {
  margin-top: -80px;
}
.main section {
  padding-top: 80px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 767px) {
  .container {
    padding: 0 1rem;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

[v-cloak] {
  display: none !important;
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}
.header__menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.header__menu-close {
  display: none;
}
.header__menu-logo {
  display: block;
  width: 240px;
  padding: 0 1.5rem;
}
.header__menu-logo img {
  width: 100%;
}
.header__menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0 0.5rem 0;
  width: calc(50% - 120px);
  border: solid 1px;
  -o-border-image: linear-gradient(to left, #8f6f4a, transparent) 1;
     border-image: linear-gradient(to left, #8f6f4a, transparent) 1;
  border-left: none;
  border-right: none;
  padding-right: 1rem;
}
.header__menu ul:last-child {
  justify-content: flex-start;
  -o-border-image: linear-gradient(to right, #8f6f4a, transparent) 1;
     border-image: linear-gradient(to right, #8f6f4a, transparent) 1;
  padding-right: 0;
  padding-left: 1rem;
}
.header__menu ul li {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu ul li a {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1rem;
  font-family: "Gotham Medium";
  transition: linear 0.2s;
  text-align: center;
}
.header__menu ul li a:hover {
  color: #8f6f4a;
}
.header__mobile {
  display: none;
}

@media (max-width: 1023px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/bg_wood-large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: none;
  }
  .header__menu.show {
    display: flex;
  }
  .header__menu-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 35px;
  }
  .header__menu-close svg {
    width: 100%;
  }
  .header__menu-logo {
    order: 1;
    margin-bottom: 3rem;
  }
  .header__menu ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 0;
    order: 2;
    padding: 0 !important;
  }
  .header__menu ul li {
    margin-bottom: 1.2rem;
  }
  .header__menu ul li a {
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: inherit;
    text-align: center;
  }
  .header__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .header__mobile-logo {
    display: block;
    width: 160px;
    padding: 0;
  }
  .header__mobile-logo img {
    display: block;
    width: 100%;
  }
  .header__mobile-btn {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0.8rem;
    right: 1.2rem;
  }
}
.footer {
  position: relative;
}
.footer__content {
  background-color: #171717;
}
.footer__content-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.footer__content-nav .rss {
  width: calc(50% - 50px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__content-nav .rss a {
  color: #8f6f4a;
  margin: 0 0.75rem;
  font-size: 1.5rem;
  transition: linear 0.2s;
}
.footer__content-nav .rss a:hover {
  color: #fff;
}
.footer__content-nav .logo-footer {
  width: 100px;
}
.footer__content-nav nav {
  width: calc(50% - 50px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.footer__content-nav nav a {
  color: #666666;
  margin: 0 0 1rem 1rem;
  font-size: 0.75rem;
  transition: linear 0.2s;
}
.footer__content-nav nav a:hover {
  color: #fff;
}
.footer__content-legals {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.75rem;
  color: #666666;
  padding-bottom: 0.5rem;
}
.footer__content-legals .tyc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__content-legals .tyc a {
  margin-right: 1rem;
  color: #666666;
}
.footer__content-legals .tyc a:hover {
  color: #fff;
}

@media (max-width: 567px) {
  .footer__content-nav {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
  .footer__content .rss {
    width: 100%;
    justify-content: center;
    order: 3;
  }
  .footer__content nav {
    order: 2;
    width: 100%;
    justify-content: center;
    margin: 1rem 0;
  }
  .footer__content nav a {
    margin: 0.5rem 1rem;
  }
  .footer__content-legals {
    flex-direction: column;
    align-items: center;
  }
  .footer__content-legals .tyc {
    width: 100%;
    justify-content: center;
  }
  .footer__content-legals .tyc a {
    text-align: center;
    margin: 0 0.5rem;
  }
}
.home {
  background-image: url("../images/bg_wood-large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: auto;
  position: relative;
}
.home__banner {
  margin-top: 1rem;
}
.home__banner .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__banner-left {
  width: calc(50% - 160px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "DINPro";
  font-weight: 900;
  font-size: 3.5rem;
  text-align: right;
  letter-spacing: 10px;
}
.home__banner-products {
  width: 320px;
}
.home__banner-right {
  width: calc(50% - 160px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.home__banner-right p {
  line-height: 1.5rem;
  font-family: "Gotham Light";
  max-width: 350px;
  padding-left: 1rem;
  font-size: 1.2rem;
}
.home__products {
  background-image: url("../images/home/bg_products.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  width: 100%;
}
.home__products .container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}
.home__products-item {
  width: 300px;
  height: 300px;
  margin: 0.5rem;
  color: #fff;
  overflow: hidden;
  position: relative;
}
.home__products-item .item-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: linear 0.5s;
}
.home__products-item:hover .item-img {
  transform: scale(1.2);
}
.home__products-item .item-content {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  padding: 1rem;
  border: solid 2px #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__products-item .item-content__category {
  background-color: #000;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}
.home__products-item .item-content__name {
  font-family: "Louda";
  font-size: 2.5rem;
  text-align: center;
}
.home__products-item .item-content__name:after {
  content: "";
  display: block;
  width: 80px;
  height: 10px;
  background-image: url("../images/silueta_white.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-top: 0.5rem;
}
.home__recipe {
  background-image: url("../images/home/bg_recipe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: calc(150px + 0.5rem + 4rem);
  padding-bottom: 4rem;
  margin-top: calc((150px + .5rem) * -1);
}
.home__recipe-text {
  font-family: "Gotham Thin";
  font-size: 2rem;
  max-width: 360px;
}
.home__recipe-text strong {
  font-family: "Gotham Medium";
  display: inline-block;
}
.home__recipe-product {
  position: absolute;
  bottom: 30px;
  right: 0;
  z-index: 2;
  width: 520px;
}

@media (max-width: 1023px) {
  .home__banner-left {
    font-size: 2.5rem;
    width: calc(50% - 100px);
  }
  .home__banner-products {
    width: 200px;
  }
  .home__banner-right {
    width: calc(50% - 100px);
  }
  .home__banner-right p {
    font-size: 1rem;
  }
  .home__products .container {
    padding-top: 7rem;
  }
  .home__products-item {
    width: 218px;
    height: 218px;
  }
  .home__products-item .item-content__name {
    font-size: 2rem;
  }
  .home__recipe {
    padding-top: calc(150px + 0.5rem + 2rem);
    padding-bottom: 3rem;
    margin-top: calc((109px + .5rem) * -1);
  }
  .home__recipe-text {
    font-family: "Gotham Thin";
    font-size: 1.5rem;
    max-width: 245px;
  }
  .home__recipe-product {
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 2;
    width: 380px;
  }
}
@media (max-width: 639px) {
  .home {
    background-size: cover;
  }
  .home__banner .container {
    flex-wrap: wrap;
  }
  .home__banner-left {
    font-size: 2.5rem;
    width: 100%;
    order: 1;
    text-align: center;
    justify-content: center;
  }
  .home__banner-products {
    width: 90%;
    max-width: 300px;
    order: 3;
    margin-bottom: 1rem;
  }
  .home__banner-right {
    width: 100%;
    order: 2;
  }
  .home__banner-right p {
    text-align: center;
    padding: 0;
    margin: 1rem auto;
    max-width: 400px;
  }
  .home__products .container {
    padding: 0;
    max-width: 468px;
  }
  .home__products-item {
    width: 138px;
    height: 138px;
  }
  .home__products-item .item-content {
    top: 0.5rem;
    left: 0.5rem;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    padding: 0.5rem;
  }
  .home__products-item .item-content__category {
    font-size: 0.6rem;
    padding: 0.4rem 0.5rem;
  }
  .home__products-item .item-content__name {
    font-size: 1.4rem;
  }
  .home__recipe {
    padding-top: calc(69px + 0.5rem + 2rem);
    padding-bottom: 3rem;
    margin-top: calc((69px + .5rem) * -1);
  }
  .home__recipe .container {
    padding-bottom: 180px;
  }
  .home__recipe-text {
    font-family: "Gotham Thin";
    font-size: 1.5rem;
    max-width: 310px;
  }
  .home__recipe-product {
    bottom: 20px;
    width: 300px;
  }
}
.somos {
  background-image: url("../images/bg_wood-large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: auto;
}
.somos__banner {
  padding: 3rem 0;
  position: relative;
}
.somos__banner h1 {
  font-family: "DINPro";
  font-size: 3.5rem;
  text-align: center;
}
.somos__banner .img-granada {
  position: absolute;
  bottom: -140px;
  right: 0;
  width: 160px;
  z-index: 1;
}
.somos__history {
  background-image: url("../images/bg_table-white.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-top: 8rem;
  overflow: hidden;
}
.somos__history .line {
  position: absolute;
  top: 8rem;
  left: calc(50% - 0.5px);
  width: 1px;
  height: 100%;
  background-color: rgba(115, 115, 115, 0.2);
}
.somos__history-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  width: 100%;
}
.somos__history-item .date {
  position: absolute;
  top: 0;
  left: calc(50% - 10px);
  background-image: url("../images/somos/bg_date-right.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.somos__history-item .left,
.somos__history-item .right {
  width: 50%;
  position: relative;
  height: 100%;
}
.somos__history-item .info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.somos__history-item .info p {
  padding: 1rem 2rem;
  text-align: left;
  font-family: "Gotham Book";
  color: #000;
  width: 100%;
  max-width: 500px;
}
.somos__history-item:nth-child(2n+1) .date {
  left: calc(50% - 110px);
  background-image: url("../images/somos/bg_date-left.png");
}
.somos__history-item:nth-child(2n+1) .info {
  justify-content: flex-end;
}
.somos__history-item:nth-child(2n+1) .info p {
  text-align: right;
}
.somos__history-item .img-cuchillo {
  position: absolute;
  top: -50px;
  left: -200px;
  width: 480px;
}
.somos__history-item .img-1865 {
  position: absolute;
  top: 0;
  right: 20%;
  width: 280px;
}
.somos__history-item .img-1965 {
  position: absolute;
  top: -20px;
  left: 20%;
  width: 400px;
}
.somos__history-item .img-2002 {
  position: absolute;
  top: 0;
  right: 20%;
  width: 286px;
}
.somos__history-item .img-2008 {
  position: absolute;
  top: -80px;
  left: 30%;
  width: 620px;
}
.somos__history-item .img-actual {
  position: absolute;
  top: -20px;
  right: 20%;
  width: 460px;
}

@media (max-width: 640px) {
  .somos__banner {
    padding: 2rem 0;
  }
  .somos__banner h1 {
    font-size: 2rem;
    padding: 0 1rem;
  }
  .somos__banner .img-granada {
    bottom: -60px;
    width: 80px;
  }
  .somos__history {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  .somos__history .line {
    top: 4rem;
    left: 1rem;
  }
  .somos__history-item {
    flex-direction: column;
    height: auto;
    padding-top: 40px;
  }
  .somos__history-item .date {
    left: calc(1rem - 10px);
  }
  .somos__history-item .left,
.somos__history-item .right {
    width: 100%;
    height: auto;
  }
  .somos__history-item .left {
    height: 200px;
    order: 2;
  }
  .somos__history-item .left img {
    position: relative;
    top: inherit;
    left: inherit;
    right: inherit;
    -o-object-fit: contain;
       object-fit: contain;
    width: inherit;
    height: 100%;
  }
  .somos__history-item .right {
    height: 200px;
    order: 1;
  }
  .somos__history-item .info {
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
  .somos__history-item .info p {
    padding: 0rem 2rem;
    text-align: left;
    font-family: "Gotham Thin";
    color: #000;
    width: 100%;
    max-width: 500px;
  }
  .somos__history-item:nth-child(2n+1) .left {
    order: 1;
  }
  .somos__history-item:nth-child(2n+1) .right {
    order: 2;
  }
  .somos__history-item:nth-child(2n+1) .right img {
    position: relative;
    top: inherit;
    left: inherit;
    right: inherit;
    -o-object-fit: contain;
       object-fit: contain;
    width: inherit;
    height: 100%;
  }
  .somos__history-item:nth-child(2n+1) .date {
    left: calc(1rem - 10px);
    background-image: url("../images/somos/bg_date-right.png");
  }
  .somos__history-item:nth-child(2n+1) .info {
    justify-content: flex-start;
    align-items: center;
  }
  .somos__history-item:nth-child(2n+1) .info p {
    text-align: left;
  }
}
.productos {
  background-image: url("../images/bg_wood-large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: auto;
  position: relative;
}
.productos__nav {
  position: fixed;
  top: calc(50% - 144px);
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: auto;
}
.productos__nav a {
  width: 150px;
  height: 40px;
  background-color: transparent;
  margin: 0.25rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  font-family: "DINPro";
  text-align: right;
  font-size: 0.8rem;
  transition: linear 0.2s;
  opacity: 0.5;
}
.productos__nav a:after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #8f6f4a;
  margin-left: 0.5rem;
}
.productos__nav a:hover, .productos__nav a.active {
  background-color: #fff;
  color: #000000;
  opacity: 1;
}
.productos__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productos__item-image {
  width: 400px;
}
.productos__item-info {
  max-width: 400px;
}
.productos__item-info .tag {
  font-family: "DINPro";
  color: #e2cba1;
  letter-spacing: 2px;
}
.productos__item-info .name {
  font-family: "DINPro";
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: 6px;
}

@media (max-width: 1023px) {
  .productos__item-info {
    max-width: 300px;
  }
  .productos__item-info .name {
    font-size: 2.5rem;
  }
}
@media (max-width: 767px) {
  .productos {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .productos__nav {
    display: none;
  }
  .productos__item {
    flex-direction: column;
    margin-top: 2rem;
    align-items: flex-end;
  }
  .productos__item:nth-child(2n+0) {
    align-items: flex-start;
  }
  .productos__item:nth-child(2n+0) .productos__item-info {
    text-align: left;
  }
  .productos__item-image {
    width: 80%;
    max-width: 300px;
    order: 2;
  }
  .productos__item-info {
    max-width: 280px;
    order: 1;
    text-align: right;
  }
  .productos__item-info .name {
    font-size: 2rem;
  }
}
.category {
  background-image: url("../images/bg_wood-large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: auto;
  position: relative;
}
.category__banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left bottom;
  padding-bottom: 16rem;
  max-width: 1440px;
  margin: 0 auto;
}
.category__banner .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 0;
}
.category__banner--left {
  width: calc(50%);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  font-family: "DINPro";
}
.category__banner--left span {
  font-weight: 500;
  font-size: 2rem;
  color: #cc1335;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}
.category__banner--left h1 {
  width: 500px;
  font-size: 4rem;
  letter-spacing: 0.6rem;
  line-height: 4rem;
}
.category__banner--left h1::first-line {
  color: #cab392;
}
.category__banner--left .stamp {
  display: block;
  margin-top: 0rem;
  margin-right: -4rem;
}
.category__banner--right {
  width: calc(50%);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #cab392;
  padding-top: 1rem;
}
.category__banner--right h2 {
  letter-spacing: 6px;
  margin-bottom: 1rem;
}
.category__banner--right p {
  line-height: 1.5rem;
  font-family: "Gotham Light";
  max-width: 500px;
  font-size: 1.2rem;
  margin: 0;
}
.category__banner-legal {
  position: absolute;
  bottom: 10rem;
  right: 0;
  width: 260px;
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(143, 111, 74, 0.5) 80%);
  border-top: solid 1px #8f6f4a;
  border-bottom: solid 1px #8f6f4a;
  padding: 1rem 1rem 1rem 0;
  font-family: "Gotham Light";
  font-size: 0.8rem;
}
.category__info {
  background-image: url("../images/category/bg_white.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  width: 100%;
  margin-top: -15rem;
  position: relative;
}
.category__products {
  padding: 3rem 0 1rem 0;
}
.category__products h2 {
  font-family: "Gotham Medium";
  color: #fff;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 6px;
  text-shadow: 0 0 10px black;
}
.category__creation {
  padding: 4rem 0 3rem 0;
}
.category__creation h2 {
  font-family: "Gotham Medium";
  color: #ad0a3c;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 6px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: solid 1px;
  -o-border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
  border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-bottom: 2rem;
}
.category__creation p {
  color: #000;
  text-align: center;
  font-family: "Gotham Book";
  max-width: 700px;
  margin: 0 auto;
  padding: 3rem 0;
  line-height: 1.5rem;
}
.category__steps {
  width: 100%;
  background-color: #fff;
}
.category__steps-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.category__steps-item {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.category__steps-item:nth-child(1) {
  grid-column: 1/2;
}
.category__steps-item:nth-child(2) {
  grid-column: 2/3;
}
.category__steps-item:nth-child(3) {
  grid-column: 3/4;
}
.category__steps-item .info {
  position: relative;
  width: 100%;
  grid-row: 1/2;
  background-color: #ece4d6;
  color: #3c2711;
  font-family: "Gotham Light";
}
.category__steps-item .info__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2rem;
}
.category__steps-item .info__frame {
  width: 100%;
  height: 100%;
  border: solid 2px #3c2711;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category__steps-item .info__frame strong {
  font-family: "Gotham Bold";
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.category__steps-item .info__frame p {
  text-align: center;
}
.category__steps-item .image {
  position: relative;
  width: 100%;
  grid-row: 2/3;
}
.category__steps-item .image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category__steps-item:nth-child(2n+0) .info {
  background-color: #90052f;
  color: #fff;
  grid-row: 2/3;
}
.category__steps-item:nth-child(2n+0) .info__frame {
  border: solid 2px #fff;
}
.category__steps-item:nth-child(2n+0) .image {
  order: 1;
  grid-row: 1/2;
}

@media (max-width: 1440px) {
  .category__info {
    margin-top: -12rem;
  }
}
@media (max-width: 1279px) {
  .category__banner--left h1 {
    width: 400px;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    line-height: 3rem;
  }
  .category__steps-item .info__frame {
    padding: 1rem;
  }
  .category__steps-item .info__frame strong {
    font-size: 1rem;
  }
}
@media (max-width: 1023px) {
  .category__banner--left {
    padding: 0 1rem;
  }
  .category__banner--left h1 {
    width: 336px;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    line-height: 2.5rem;
  }
  .category__banner--left .stamp {
    margin-right: -2rem;
    margin-top: -1rem;
  }
  .category__banner--right {
    padding: 0 1rem;
  }
  .category__banner--right p {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  .category__steps-item .info__content {
    padding: 1rem;
  }
  .category__steps-item .info__frame {
    padding: 1rem;
  }
  .category__steps-item .info__frame strong {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .category__steps-item .info__frame p {
    font-size: 0.8rem;
  }
}
@media (max-width: 767px) {
  .category__banner .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 0;
    flex-direction: column;
  }
  .category__banner--left {
    width: 100%;
    align-items: center;
  }
  .category__banner--left span {
    text-align: center;
    font-size: 1.5rem;
  }
  .category__banner--left h1 {
    text-align: center;
    font-size: 2.2rem;
  }
  .category__banner--left .stamp {
    margin: 0;
    max-width: 280px;
  }
  .category__banner--right {
    width: 100%;
  }
  .category__banner--right p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .category__banner-legal {
    bottom: 12rem;
  }
  .category__info {
    margin-top: -10rem;
  }
  .category__info h2 {
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-align: center;
  }
  .category__creation {
    padding: 4rem 0 0 0;
  }
  .category__steps-container {
    grid-template-columns: 1fr;
  }
  .category__steps-item {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .category__steps-item:nth-child(1) {
    grid-column: 1/2;
  }
  .category__steps-item:nth-child(2) {
    grid-column: 1/2;
  }
  .category__steps-item:nth-child(3) {
    grid-column: 1/2;
  }
  .category__steps-item .info {
    grid-row: 1/2;
  }
  .category__steps-item .info__content {
    padding: 0.5rem;
  }
  .category__steps-item .info__frame {
    padding: 0.5rem;
  }
  .category__steps-item .info__frame strong {
    font-size: 0.7rem;
  }
  .category__steps-item .info__frame p {
    font-size: 0.7rem;
  }
  .category__steps-item .image {
    grid-row: 1/2;
  }
  .category__steps-item:nth-child(2n+0) .info {
    grid-row: 1/2;
    order: 2;
  }
  .category__steps-item:nth-child(2n+0) .image {
    order: 1;
  }
}
@media (max-width: 467px) {
  .category__steps-item {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
  .category__steps-item .info {
    grid-row: 1/2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(236, 228, 214, 0.9);
  }
  .category__steps-item .info__content {
    padding: 1rem;
  }
  .category__steps-item .info__frame {
    padding: 1rem;
  }
  .category__steps-item .info__frame strong {
    font-family: "Gotham Bold";
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .category__steps-item .info__frame p {
    text-align: center;
    font-size: 1rem;
  }
  .category__steps-item .image {
    grid-row: 1/2;
  }
  .category__steps-item:nth-child(2n+0) .info {
    background-color: rgba(144, 5, 47, 0.9);
  }
}
.product {
  background-image: url("../images/bg_wood-large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: auto;
  position: relative;
}
.product__banner {
  position: relative;
  padding: 1rem 0;
}
.product__banner .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.product__banner--left {
  width: calc(50%);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}
.product__banner--left .product__image {
  display: block;
  width: 320px;
  height: 320px;
  margin-top: 2rem;
  position: relative;
}
.product__banner--left .product__image-main {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
}
.product__banner--left .product__image-leaf {
  position: absolute;
  bottom: -90px;
  right: -60px;
  width: 200px;
}
.product__banner--right {
  width: calc(50%);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #cab392;
  padding-top: 4rem;
}
.product__banner--right h1 {
  width: 370px;
  font-size: 3.5rem;
  letter-spacing: 6px;
  line-height: 4rem;
  color: #fff;
  font-family: "DINPro";
}
.product__banner--right h1::first-line {
  color: #cab392;
}
.product__banner--right .presentation {
  font-family: "DINPro";
  color: #cc1335;
  font-size: 2rem;
  margin-top: 1rem;
}
.product__banner--right .description {
  margin: 1rem 0;
  font-family: "Gotham Light";
  max-width: 500px;
  line-height: 1.4rem;
}
.product__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 14rem;
  max-width: 1010px;
  margin: 0 auto;
  margin-top: 4rem;
}
.product__gallery-item {
  width: 320px;
  height: 320px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.5rem;
}
.product__related {
  background-image: url("../images/products/bg_white-related.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 6rem;
  width: 100%;
  margin-top: -10.5rem;
  position: relative;
  padding: 1rem 0 5rem 0;
}
.product__related h2 {
  font-family: "Gotham Medium";
  color: #cab392;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 6px;
  text-shadow: 0 0 10px black;
}
.product__related-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__related-content .product__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  width: 300px;
}
.product__related-content .product__item-image {
  display: block;
  width: 300px;
  height: 300px;
  padding: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 767px) {
  .product__banner .container {
    flex-direction: column;
  }
  .product__banner--left {
    width: 100%;
    align-items: center;
    padding: 0;
  }
  .product__banner--left .product__image {
    width: 260px;
    height: 260px;
  }
  .product__banner--left .product__image-main {
    -o-object-position: center;
       object-position: center;
  }
  .product__banner--left .product__image-leaf {
    position: absolute;
    bottom: -45px;
    right: -15px;
    width: 150px;
  }
  .product__banner--right {
    width: 100%;
    align-items: center;
    padding: 2rem 0 0 0;
  }
  .product__banner--right h1 {
    text-align: center;
    width: 100%;
    font-size: 2.2rem;
    letter-spacing: 3px;
    line-height: inherit;
  }
  .product__banner--right .description {
    max-width: 500px;
    line-height: 1.4rem;
    text-align: center;
  }
  .product__gallery {
    margin-top: 0;
  }
  .product__gallery-item {
    padding: 1rem;
    margin: 0;
  }
}
.recipes {
  background-image: url("../images/bg_wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}
.recipes__banner {
  padding: 3rem 0;
  position: relative;
}
.recipes__banner h1 {
  font-family: "DINPro";
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: 4px;
}
.recipes__banner .img-leaf {
  position: absolute;
  bottom: -140px;
  left: 0;
  width: 140px;
  z-index: 1;
}
.recipes__content {
  background-image: url("../images/bg_table-white.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  padding-top: 1rem;
  margin-top: 8rem;
  padding-bottom: 4rem;
}
.recipes__content .container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -8rem;
}
.recipes__content-item {
  width: 300px;
  height: 300px;
  margin: 0.5rem;
  color: #fff;
  overflow: hidden;
  position: relative;
}
.recipes__content-item .item-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: linear 0.5s;
}
.recipes__content-item:hover .item-img {
  transform: scale(1.2);
}
.recipes__content-item .item-content {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  padding: 1rem;
  border: solid 2px #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipes__content-item .item-content__category {
  background-color: #000;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}
.recipes__content-item .item-content__name {
  font-family: "Louda";
  font-size: 2rem;
  text-align: center;
}
.recipes__content-item .item-content__name:after {
  content: "";
  display: block;
  width: 80px;
  height: 10px;
  background-image: url("../images/silueta_white.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  .recipes__banner {
    padding: 2rem 0;
    position: relative;
  }
  .recipes__banner h1 {
    font-size: 2.5rem;
  }
  .recipes__banner .img-leaf {
    bottom: -70px;
    left: 0;
    width: 80px;
  }
}
.recipe {
  width: 100%;
  height: auto;
  padding-top: 0 !important;
  background-image: url("../images/bg_wood.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: auto;
}
.recipe__video {
  width: 100%;
  height: 800px;
}
.recipe__video-container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.recipe__video-foreground,
.recipe__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.recipe__content {
  background-image: url("../images/recipes/bg_white.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  padding: 10rem 0 4rem 0;
  margin-top: -6rem;
  position: relative;
}
.recipe__content .container {
  max-width: 980px;
}
.recipe__head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe__head-image {
  width: 50%;
}
.recipe__head-image img {
  display: block;
  width: 320px;
  height: 320px;
  margin: 0 auto;
}
.recipe__head-name {
  width: 50%;
  color: #000;
}
.recipe__head-name .type {
  font-family: "DINPro";
}
.recipe__head-name h1 {
  font-size: 2rem;
  letter-spacing: 6px;
  line-height: 4rem;
  color: #ad0a3c;
  font-family: "DINPro";
  border: solid 1px;
  -o-border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
  border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
  border-left: none;
  border-right: none;
  border-top: none;
  line-height: 3rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
.recipe__head-name h1::first-line {
  color: #cab392;
  font-size: 4rem;
}
.recipe__head-name .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.recipe__head-name .tags__item {
  background-color: #ece4d6;
  width: auto;
  height: 70px;
  padding: 0.5rem;
  margin: 0 0.5rem;
}
.recipe__head-name .tags__item-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #3c2711;
  padding: 0 1rem;
}
.recipe__head-name .tags__item-content .icon {
  display: block;
  height: 2rem;
  margin-right: 0.5rem;
}
.recipe__head-name .tags__item-content .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.recipe__head-name .tags__item-content .text small {
  font-family: "Gotham Light";
  line-height: 1.4rem;
}
.recipe__text {
  color: #000;
  text-align: center;
  font-family: "Gotham Light";
  width: 100%;
  max-width: 800px;
  margin: 2rem auto 0 auto;
}
.recipe__process {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}
.recipe__process-item {
  width: 50%;
}
.recipe__process-item h2 {
  color: #ad0a3c;
  letter-spacing: 4px;
  margin-bottom: 1rem;
  text-align: center;
}
.recipe__process-item .info {
  color: #000;
  font-family: "Gotham Light";
  padding: 0 1rem;
}
.recipe__process-item .info strong {
  display: block;
  font-family: "Gotham Bold";
  margin: 1rem 0 0.4rem 0;
}
.recipe__process-item .info ul {
  padding-left: 2rem;
}
.recipe__process-item .info ul li {
  list-style: inherit;
  margin-bottom: 0.2rem;
}
.recipe__process-item .info ol {
  padding-left: 2rem;
}
.recipe__process-item .info ol li {
  list-style: inherit;
  margin-bottom: 0.5rem;
}
.recipe__video-element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.recipe__video-element iframe {
  width: 540px;
  height: 300px;
}
.recipe__retailers {
  margin-top: 4rem;
}
.recipe__retailers h2 {
  font-size: 2rem;
  letter-spacing: 6px;
  line-height: 4rem;
  color: #ad0a3c;
  font-family: "DINPro";
  border: solid 1px;
  -o-border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
     border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
  border-left: none;
  border-right: none;
  border-top: none;
  line-height: 3rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
.recipe__retailers-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}
.recipe__retailers-content a {
  margin: 0.5rem 2rem;
  width: 180px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe__retailers-content a img {
  display: block;
  width: 90%;
  transition: linear 0.2s;
}
.recipe__retailers-content a:hover img {
  width: 100%;
}
.recipe__shared {
  background-image: url("../images/home/bg_recipe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0 3rem 0;
  position: relative;
}
.recipe__shared h2 {
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}
.recipe__shared-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe__shared-content a {
  color: #fff;
  font-size: 2.5rem;
  margin: 0 1rem;
}

@media (max-width: 1023px) {
  .recipe__head {
    flex-direction: column;
  }
  .recipe__head-image {
    width: 100%;
  }
  .recipe__head-name {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .recipe__video {
    height: 20px;
  }
  .recipe__video-container {
    display: none;
  }
  .recipe__content {
    margin-top: 0rem;
    padding: 4rem 0;
  }
}
@media (max-width: 567px) {
  .recipe__head-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .recipe__head-name h1 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: initial;
    text-align: center;
  }
  .recipe__head-name h1::first-line {
    color: #cab392;
    font-size: 2rem;
  }
  .recipe__head-name .tags {
    flex-wrap: wrap;
  }
  .recipe__head-name .tags__item {
    margin: 0.5rem;
  }
  .recipe__head-name .tags__item-content {
    padding: 0 0.5rem;
  }
  .recipe__head-name .tags__item-content .icon {
    height: 1.5rem;
  }
  .recipe__head-name .tags__item-content .text {
    font-size: 0.8rem;
  }
  .recipe__process {
    flex-direction: column;
    align-items: center;
  }
  .recipe__process-item {
    width: 100%;
    margin-bottom: 1rem;
  }
  .recipe__video-element iframe {
    width: 300px;
    height: 200px;
  }
}
@media (min-aspect-ratio: 16/9) {
  .recipe__video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .recipe__video-foreground {
    width: 300%;
    left: -100%;
  }
}
@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: 0.5rem;
  }

  .vid-info h1 {
    margin-bottom: 0.2rem;
  }
}
@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}
.retailers {
  background-image: url("../images/bg_wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: calc(100vh - 137px);
}
.retailers__banner {
  padding: 3rem 2rem;
  position: relative;
}
.retailers__banner h1 {
  font-family: "DINPro";
  font-size: 3.5rem;
  text-align: left;
  max-width: 400px;
}
.retailers__banner h1::first-line {
  color: #cab392;
  font-size: 4rem;
}
.retailers__banner h1:after {
  content: "";
  display: block;
  width: 80px;
  height: 10px;
  background-image: url("../images/silueta_white.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0.5rem;
}
.retailers__banner-select {
  margin: 1rem 0;
}
.retailers__banner-select label {
  display: block;
  font-family: "Gotham Light";
  margin-bottom: 0.5rem;
}
.retailers__banner-select select {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 50px;
  background-color: #fff;
  font-size: 1rem;
  color: #171717;
  line-height: 1rem;
  font-size: 0.8rem;
  padding: 0 1rem;
  outline: none;
}
.retailers__banner .img-plato {
  position: absolute;
  bottom: -80px;
  right: 0;
  width: 500px;
  z-index: 1;
}
.retailers__content {
  background-image: url("../images/bg_table-white.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  position: relative;
  padding: 8rem 0 4rem;
}
.retailers__content .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}
.retailers__item {
  display: block;
  width: 100%;
  max-width: 320px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px;
  -o-border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
  border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
  border-left: none;
  border-right: none;
  border-top: none;
}
.retailers__item-info {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Gotham Thin";
}
.retailers__item-info strong {
  font-family: "Gotham Medium";
}
.retailers__item-info small {
  font-family: "Gotham Light";
}
.retailers__item-logo {
  width: 180px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.retailers__item-logo img {
  display: block;
  width: 90%;
  transition: linear 0.2s;
}
.retailers__item-logo:hover img {
  width: 100%;
}

@media (max-width: 1023px) {
  .retailers__banner .img-plato {
    width: 380px;
  }
}
@media (max-width: 767px) {
  .retailers__banner {
    padding: 2rem 0 6rem 0;
  }
  .retailers__banner h1 {
    font-family: "DINPro";
    font-size: 2.5rem;
    text-align: left;
    max-width: 400px;
  }
  .retailers__banner h1::first-line {
    font-size: 2.6rem;
  }
  .retailers__banner .img-plato {
    width: 280px;
  }
}
.contact {
  background-image: url("../images/bg_wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: calc(100vh - 137px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .container {
  padding-top: 4rem;
  padding-bottom: 6rem;
}
.contact-content {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  position: relative;
}
.contact-content:after {
  content: "";
  display: block;
  width: 320px;
  height: 266px;
  background-image: url("../images/contact/leaf.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0.5rem;
  position: absolute;
  bottom: -140px;
  left: -45px;
}
.contact-line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: calc(100% - 4rem);
  background-color: #000;
  margin: 2rem 0;
}
.contact-line:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  background-color: #000;
}
.contact-line:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  background-color: #000;
  position: absolute;
  bottom: 0;
}
.contact__info {
  width: 50%;
  padding: 2rem;
}
.contact__info h1 {
  color: #8f6f4a;
}
.contact__info h1:after {
  content: "";
  display: block;
  width: 80px;
  height: 10px;
  background-image: url("../images/silueta_brown.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0.5rem;
}
.contact__info p {
  font-family: "Gotham Light";
}
.contact__info-email {
  font-family: "Gotham Light";
  color: #000;
  text-decoration: underline;
  margin: 1.5rem 0;
}
.contact__info strong {
  color: #8f6f4a;
  font-size: 1.2rem;
}
.contact__info-rss {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0;
}
.contact__info-rss a {
  color: #8f6f4a;
  margin-right: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
}
.contact__form {
  width: 50%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .contact .container {
    padding-bottom: 10rem;
  }
  .contact-line {
    display: none;
  }
  .contact-content {
    flex-direction: column;
  }
  .contact-content:after {
    left: initial;
    right: -25px;
    width: 250px;
    bottom: -190px;
  }
  .contact__info {
    width: 100%;
    padding: 2rem 1rem;
  }
  .contact__form {
    width: 100%;
    padding: 1rem 1rem 5rem 1rem;
  }
}
.intro {
  margin-top: -80px;
}
.intro .max600 {
  max-width: 600px;
}
.intro .questions {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/experience/intro/bg_intro.jpg");
}
.intro .questions__bullets {
  position: absolute;
  top: calc(30%);
  right: 1rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Louda";
  font-size: 1.5rem;
}
.intro .questions__bullets-item {
  width: 2.5rem;
  border-top: solid 2px #8f6f4a;
  border-bottom: solid 2px #8f6f4a;
  margin: 1.5rem 0;
  padding: 0.5rem 0;
  position: relative;
  text-align: center;
  color: #8f6f4a;
}
.intro .questions__bullets-item:not(:last-child)::after {
  content: "";
  width: 0px;
  height: 2rem;
  border-right: dotted 3px #8f6f4a;
  position: absolute;
  bottom: -2.65rem;
  left: 1.1rem;
}
.intro .questions__bullets-item.active {
  color: #fff;
}
.intro .questions__bullets-item.active::before {
  content: "Paso";
  position: absolute;
  left: -1.8rem;
  top: 0.9rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.intro .questions__video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: fixed;
  top: 0;
  left: 0;
}
.intro .questions .wrapper {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 1rem 2rem 1rem;
}
.intro .questions p {
  text-align: center;
}
.intro .questions__head {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro .questions__head-logo {
  display: block;
  margin: 1rem 0;
  width: 90%;
  max-width: 400px;
}
.intro .questions__head-text {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.intro .questions__body {
  width: 100%;
  height: 100%;
  min-height: 360px;
  max-width: 840px;
  flex-shrink: 0;
  flex: auto;
  position: relative;
}
.intro .questions__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro .questions__item-error {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  background: rgba(203, 24, 64, 0.7);
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
}
.intro .questions__item-text {
  font-size: 1rem;
  text-align: center;
}
.intro .questions__item .options_response {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.intro .questions__item .options_response__item {
  margin: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
}
.intro .questions__item .options_response__item img {
  display: block;
  height: 8rem;
  transition: linear 0.2s;
}
.intro .questions__item .options_response__item-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.intro .questions__item .options_response__item-name p {
  width: 100px;
  text-align: left;
  font-size: 0.9rem;
}
.intro .questions__item .options_response__item-name svg {
  width: 30px;
  transition: linear 0.2s;
}
.intro .questions__item .options_response__item:hover img {
  transform: scale(1.1);
}
.intro .questions__item .options_response__item:hover .options_response__item-name svg {
  margin-left: 0.5rem;
}
.intro .questions__item label {
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}
.intro .questions__item .btn {
  margin: 1rem 0;
}
.intro .questions .form__froup {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.intro .questions .form__froup input {
  border: none;
  background-color: transparent;
  border-bottom: solid 2px #8f6f4a;
  margin-left: 0.5rem;
  width: 280px;
  color: #fff;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.intro .questions__footer {
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  text-align: center;
}
.intro .questions .form__froup2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.intro .questions .form__froup2 .select-container {
  position: relative;
  border: solid 2px #8f6f4a;
  width: 350px;
  color: #000;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
  cursor: pointer;
}
.intro .questions .form__froup2 .select-container select {
  background-color: #fff;
  color: #000;
  padding: 1rem 4rem 1rem 1rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  position: relative;
  z-index: 1;
}
.intro .questions .form__froup2 .select-container select option {
  color: #000;
}
.intro .questions .form__froup2 .select-container svg {
  transform: rotate(90deg);
  width: 22px;
  position: absolute;
  top: 22px;
  right: 18px;
  color: #000;
  z-index: 1;
}
.intro .questions .form__froup2 .select-container::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 60px;
  background-color: #8f6f4a;
  z-index: 1;
}
.intro .questions-4 {
  background-image: url("../images/experience/intro/4/bg_4.jpg");
  justify-content: space-between;
}
.intro .questions-4__head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro .questions-4 p {
  letter-spacing: 0.2rem;
}

@media (max-width: 767px) {
  .intro .questions__bullets {
    display: none;
  }
  .intro .questions__item {
    position: relative;
    padding: 2rem 0;
  }
  .intro .questions__item label {
    text-align: center;
  }
  .intro .questions__body {
    height: auto;
  }
  .intro .questions .form__froup {
    flex-wrap: wrap;
  }
  .intro .questions .form__froup2 .select-container {
    width: 100%;
  }
}
.experience {
  background-image: url("../images/experience/bg_experience.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
  margin-top: -80px;
}
.experience-scrolldown {
  position: fixed;
  bottom: -58px;
  right: 1rem;
  width: 120px;
  height: 120px;
  z-index: 1;
  cursor: pointer;
  transition: linear 0.2s;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  transition: linear 0.2s;
}
.experience-scrolldown:hover {
  bottom: -60px;
  background: rgba(255, 255, 255, 0.1);
}
.experience-scrolldown img {
  display: block;
  width: 100%;
}
.experience .banner {
  min-height: 100vh;
  background-image: url("../images/experience/bg_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3rem 0 6rem 0;
}
.experience .banner__logo {
  display: block;
  margin: 1rem 0;
  width: 400px;
}
.experience .banner__text1 {
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  width: 100%;
  max-width: 600px;
  padding: 0.8rem 0;
  text-align: center;
  letter-spacing: 1.5rem;
  font-size: 1.8rem;
  margin: 1rem 0;
}
.experience .banner__name {
  font-size: 6rem;
  font-family: "Louda";
  text-transform: uppercase;
}
.experience .banner p {
  font-family: "Gotham Bold";
  width: 100%;
  max-width: 700px;
  text-align: center;
  letter-spacing: 0.2rem;
}
.experience .banner__cta {
  position: absolute;
  left: calc(50% - 100px);
  bottom: 0;
  width: 200px;
  cursor: pointer;
}
.experience .banner__cta img {
  display: block;
  width: 100%;
}
.experience .invitation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience .invitation__text {
  border-top: solid 2px #8e8e8e;
  border-bottom: solid 2px #8e8e8e;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  letter-spacing: 0.5rem;
  font-size: 1.3rem;
}
.experience .invitation__image {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 2rem auto 0 auto;
}
.experience .invitation .btn {
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}
.experience .receta {
  position: relative;
}
.experience .receta__text {
  border-top: solid 2px #8e8e8e;
  border-bottom: solid 2px #8e8e8e;
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
  letter-spacing: 0.5rem;
  font-size: 1.3rem;
}
.experience .receta .wrapper {
  display: grid;
  grid-template-rows: 200px 300px 120px;
  grid-template-columns: repeat(3, calc(100vw/3));
  border-bottom: solid 2px #8e8e8e;
}
.experience .receta__title {
  grid-column: 1/2;
  grid-row: 1/4;
  border-right: solid 1px #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience .receta__title--mobile {
  display: none;
}
.experience .receta__title--desktop {
  display: block;
  height: calc(90% - 6rem);
}
.experience .receta__clock {
  grid-column: 2/3;
  grid-row: 1/2;
  border-bottom: solid 1px #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience .receta__clock img {
  display: block;
  height: 100%;
  max-height: 260px;
}
.experience .receta__name {
  grid-column: 2/3;
  grid-row: 2/3;
  border-bottom: solid 1px #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.experience .receta__name-content {
  padding: 2rem 1rem;
}
.experience .receta__preparala {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.experience .receta__preparala p {
  margin-bottom: 2rem;
}
.experience .receta__preparala p span {
  font-family: "Gotham Light";
}
.experience .receta__image {
  grid-column: 3/4;
  grid-row: 1/4;
  border-left: solid 1px #8e8e8e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience .receta__image-main {
  padding: 1rem;
  height: 100%;
  width: 100%;
}
.experience .receta__image-main img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.experience .receta__image-controls {
  width: 100%;
  border-top: solid 1px #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.experience .receta__image-controls .arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw / 3);
  height: 4rem;
  text-align: center;
  transition: linear 0.2s;
}
.experience .receta__image-controls .arrow-btn svg {
  width: 40px;
  margin: 0 0.5rem;
}
.experience .receta__image-controls .arrow-btn.arrow-left {
  border-right: solid 1px #8e8e8e;
  cursor: pointer;
}
.experience .receta__image-controls .arrow-btn.arrow-left svg {
  transform: rotate(180deg);
}
.experience .receta__image-controls .arrow-btn.arrow-left:hover {
  background-color: #fff;
  color: #000;
}
.experience .receta__image-controls .arrow-btn.arrow-right {
  border-left: solid 1px #8e8e8e;
  cursor: pointer;
}
.experience .receta__image-controls .arrow-btn.arrow-right:hover {
  background-color: #fff;
  color: #000;
}
.experience .receta .btn {
  position: absolute;
  bottom: -40px;
  left: calc(50% - 137px);
  z-index: 1;
}
.experience .ingredients {
  margin: 1rem 0;
  border-bottom: solid 2px #8e8e8e;
  position: relative;
}
.experience .ingredients__title {
  padding: 3rem 1rem;
  border-top: solid 2px #8e8e8e;
  border-bottom: solid 2px #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience .ingredients__title img {
  display: block;
  width: 100%;
  max-width: 800px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.experience .ingredients__title h2 {
  font-family: "Louda";
  font-size: 6rem;
}
.experience .ingredients__title span {
  font-family: "Gotham Medium";
  font-size: 0.8rem;
  max-width: 6rem;
  margin-left: 1.5rem;
  position: relative;
}
.experience .ingredients__title span::after {
  content: "";
  background-image: url("../images/experience/virgulillas.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 50px;
  height: 18px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -25px;
}
.experience .ingredients-carousel {
  position: relative;
}
.experience .ingredients-carousel .slick-list {
  margin-top: 4rem;
  border-top: solid 2px #8e8e8e;
}
.experience .ingredients-carousel .slick-slide:not(:last-child) {
  border-right: solid 1px #8e8e8e;
}
.experience .ingredients-carousel .arrow-btn {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
  width: calc(100vw / 3);
  height: 4rem;
  cursor: pointer;
  transition: linear 0.2s;
  text-align: center;
}
.experience .ingredients-carousel .arrow-btn svg {
  width: 40px;
  margin: 0 0.5rem;
}
.experience .ingredients-carousel .arrow-btn.arrow-left {
  left: 0;
  border-right: solid 1px #8e8e8e;
}
.experience .ingredients-carousel .arrow-btn.arrow-left svg {
  transform: rotate(180deg);
  margin-right: 2rem;
}
.experience .ingredients-carousel .arrow-btn.arrow-right {
  right: 0;
  border-left: solid 1px #8e8e8e;
}
.experience .ingredients-carousel .arrow-btn.arrow-right svg {
  margin-left: 2rem;
}
.experience .ingredients-carousel .arrow-btn:hover {
  background-color: #fff;
  color: #000;
}
.experience .ingredients-carousel__item {
  padding-bottom: 5rem;
}
.experience .ingredients-carousel__item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gotham Light";
}
.experience .ingredients-carousel__item-image {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.experience .ingredients-carousel__item-image.main-product {
  padding: 3rem;
}
.experience .ingredients-carousel__item-name {
  text-align: center;
  width: 100%;
  padding: 0 1rem;
}
.experience .ingredients .btn {
  position: absolute;
  bottom: -40px;
  left: calc(50% - 182px);
}
.experience .download-ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience .download-ingredients a {
  margin: 2rem 0 -1rem 0;
  z-index: 1;
}
.experience .musica {
  border-top: solid 2px #8e8e8e;
}
.experience .musica .wrapper {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: repeat(3, calc(100vw/3));
}
.experience .musica__text {
  grid-column: 1/2;
  grid-row: 1/2;
  border-right: solid 1px #8e8e8e;
  border-bottom: solid 1px #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.experience .musica__text-content {
  padding: 0 4rem;
}
.experience .musica__text-content span {
  font-family: "Gotham Light";
}
.experience .musica__playlist1 {
  grid-column: 1/2;
  grid-row: 2/3;
  border-right: solid 1px #8e8e8e;
  border-bottom: solid 1px #8e8e8e;
  padding: 2rem 1rem;
}
.experience .musica__playlist1 a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 100%;
}
.experience .musica__playlist1 a img {
  display: block;
  width: 100%;
  max-width: 160px;
}
.experience .musica__playlist1 a p {
  margin-bottom: 0;
}
.experience .musica__playlist2 {
  grid-column: 2/3;
  grid-row: 1/2;
  border-right: solid 1px #8e8e8e;
  border-bottom: solid 1px #8e8e8e;
  padding: 2rem 1rem;
}
.experience .musica__playlist2 a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 100%;
}
.experience .musica__playlist2 a img {
  display: block;
  width: 100%;
  max-width: 160px;
}
.experience .musica__playlist2 a p {
  margin-bottom: 0;
}
.experience .musica__playlist3 {
  grid-column: 2/3;
  grid-row: 2/3;
  border-right: solid 1px #8e8e8e;
  border-bottom: solid 1px #8e8e8e;
  padding: 2rem 1rem;
}
.experience .musica__playlist3 a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 100%;
}
.experience .musica__playlist3 a img {
  display: block;
  width: 100%;
  max-width: 160px;
}
.experience .musica__playlist3 a p {
  margin-bottom: 0;
}
.experience .musica__title {
  grid-column: 3/4;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience .musica__title--desktop {
  display: block;
  height: calc(90% - 6rem);
}
.experience .musica__title--mobile {
  display: none;
}
.experience .preparate {
  border-bottom: solid 1px #8e8e8e;
}
.experience .preparate .wrapper {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: repeat(4, calc(100vw/4));
}
.experience .preparate__mesa {
  grid-column: 1/2;
  grid-row: 1/2;
  border-right: solid 1px #8e8e8e;
  border-bottom: solid 1px #8e8e8e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience .preparate__mesa img {
  display: block;
  width: 100%;
  max-width: 250px;
}
.experience .preparate__menu {
  grid-column: 1/2;
  grid-row: 2/3;
  border-right: solid 1px #8e8e8e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience .preparate__menu img {
  display: block;
  width: 100%;
  max-width: 250px;
}
.experience .preparate__brindis {
  grid-column: 2/3;
  grid-row: 1/3;
  border-right: solid 1px #8e8e8e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience .preparate__brindis img {
  display: block;
  width: 100%;
  max-width: 250px;
}
.experience .preparate__title {
  grid-column: 3/5;
  grid-row: 1/2;
  border-bottom: solid 1px #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}
.experience .preparate__title img {
  display: block;
  width: 90%;
}
.experience .preparate__text {
  display: none;
}
.experience .preparate__listo {
  grid-column: 3/5;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience .preparate__listo img {
  display: block;
  width: 100%;
  max-width: 340px;
  margin-bottom: 1rem;
}
.experience .goodbye {
  background-image: url("../images/experience/bg_goodbye.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  min-height: calc(100vh - 92px);
  overflow: hidden;
}
.experience .goodbye__video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.experience .goodbye .wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 92px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.experience .goodbye__title {
  font-size: 6rem;
  font-family: "Louda";
  text-align: center;
}
.experience .goodbye__name {
  font-size: 50px;
  font-family: "Louda";
  position: relative;
  letter-spacing: 5px;
  margin-bottom: 2rem;
}
.experience .goodbye__name::before {
  content: "";
  background-image: url("../images/experience/virgulillas.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 30px;
  display: block;
  position: absolute;
  top: calc(50% - 15px);
  left: -120px;
}
.experience .goodbye__name::after {
  content: "";
  background-image: url("../images/experience/virgulillas.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80px;
  height: 30px;
  display: block;
  position: absolute;
  top: calc(50% - 15px);
  right: -120px;
}
.experience .goodbye p {
  font-family: "Gotham Bold";
  width: 100%;
  max-width: 700px;
  text-align: center;
  letter-spacing: 0.2rem;
}
.experience .goodbye__logo--parma {
  display: block;
  width: 90%;
  max-width: 200px;
}
.experience .goodbye__logo--experience {
  display: block;
  width: 90%;
  max-width: 200px;
}
.experience .ctas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience .ctas__item {
  width: 50%;
}
.experience .ctas .btn--border {
  width: 100%;
  height: 100%;
  margin: 0;
}
.experience .ctas .btn--border span {
  width: 100%;
  display: flex;
  justify-content: center;
}
.experience .ctas .btn--white {
  color: #8f6f4a;
}
.experience .ctas .btn--white:hover {
  color: white;
}

@media (max-width: 767px) {
  .experience-scrolldown {
    right: 0.5rem;
    width: 90px;
    height: 103px;
  }
  .experience .banner {
    padding: 4rem 1rem 6rem 1rem;
  }
  .experience .banner__logo {
    width: 100%;
  }
  .experience .banner__text1 {
    letter-spacing: 0.5rem;
    font-size: 1.3rem;
  }
  .experience .banner__name {
    font-size: 3rem;
  }
  .experience .banner p {
    font-size: 1rem;
  }
  .experience .invitation__text {
    padding: 1.5rem 1rem;
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 1rem;
  }
  .experience .invitation .btn {
    margin-top: 1rem;
  }
  .experience .receta__text {
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
  .experience .receta .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .experience .receta__title {
    border-bottom: solid 1px #8e8e8e;
    padding: 1rem 0;
    order: 1;
  }
  .experience .receta__title--mobile {
    display: block;
    width: 90%;
    max-width: 320px;
  }
  .experience .receta__title--desktop {
    display: none;
  }
  .experience .receta__name {
    order: 4;
    padding: 1rem 0;
  }
  .experience .receta__clock {
    order: 2;
  }
  .experience .receta__clock img {
    display: block;
    height: 160px;
  }
  .experience .receta__preparala {
    order: 3;
    border-bottom: solid 1px #8e8e8e;
  }
  .experience .receta__image {
    border-left: none;
    order: 5;
  }
  .experience .receta__image-main {
    width: 80%;
    max-width: 300px;
  }
  .experience .receta__image-controls {
    padding-bottom: 1rem;
  }
  .experience .receta .btn {
    bottom: -50px;
    left: calc(50% - 98px);
  }
  .experience .ingredients {
    margin: 2rem 0;
  }
  .experience .ingredients-carousel .slick-slide:not(:last-child) {
    border-right: none;
  }
  .experience .ingredients-carousel .arrow-btn {
    width: 50%;
  }
  .experience .ingredients-carousel .arrow-btn.arrow-left {
    left: 0;
    border-right: solid 1px #8e8e8e;
  }
  .experience .ingredients-carousel .arrow-btn.arrow-left svg {
    transform: rotate(180deg);
    margin-right: 1rem;
  }
  .experience .ingredients-carousel .arrow-btn.arrow-right {
    right: 0;
    border-left: solid 1px #8e8e8e;
  }
  .experience .ingredients-carousel .arrow-btn.arrow-right svg {
    margin-left: 1rem;
  }
  .experience .ingredients .btn {
    left: calc(50% - 136px);
    bottom: -46px;
  }
  .experience .musica .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .experience .musica__text {
    padding: 2rem 1rem;
    text-align: center;
    border-right: none;
    order: 1;
  }
  .experience .musica__text-content {
    max-width: inherit;
    width: 100%;
    padding: 0 2rem;
  }
  .experience .musica__playlist1 {
    order: 3;
    border-right: none;
  }
  .experience .musica__playlist2 {
    order: 4;
    border-right: none;
  }
  .experience .musica__playlist3 {
    order: 5;
    border-right: none;
  }
  .experience .musica__title {
    order: 2;
    border-bottom: solid 1px #8e8e8e;
  }
  .experience .musica__title--desktop {
    display: none;
  }
  .experience .musica__title--mobile {
    padding: 1rem 0;
    display: block;
    width: 80%;
    max-width: 300px;
  }
  .experience .preparate .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .experience .preparate .receta__text {
    display: none;
  }
  .experience .preparate__mesa {
    border-right: none;
    order: 3;
  }
  .experience .preparate__menu {
    border-right: none;
    border-bottom: solid 1px #8e8e8e;
    order: 4;
  }
  .experience .preparate__brindis {
    border-bottom: solid 1px #8e8e8e;
    order: 5;
    border-right: none;
  }
  .experience .preparate__title {
    order: 1;
  }
  .experience .preparate__text {
    display: block;
    border-bottom: solid 1px #8e8e8e;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    order: 2;
  }
  .experience .preparate__listo {
    padding: 1rem;
    text-align: center;
    order: 6;
  }
  .experience .preparate__listo img {
    width: 80%;
    max-width: 300px;
  }
  .experience .goodbye__title {
    font-size: 2.8rem;
  }
  .experience .goodbye__name {
    font-size: 35px;
    margin-top: 0.5rem;
  }
  .experience .goodbye__name::after {
    display: none;
  }
  .experience .goodbye__name::before {
    display: none;
  }
  .experience .ctas {
    flex-direction: column;
  }
  .experience .ctas__item {
    width: 100%;
  }
  .experience .ctas__item .btn {
    max-width: inherit;
  }
}