.btn{
    border: solid 1px #8f6f4a;
    display: inline-block;
    padding: 1rem;
    margin-top: 0.5rem;
    transition: linear 0.2s;
    cursor: pointer;
    svg{
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.5rem;
    }

    &--primary{
        color: #fff;
        &:hover{
            background-color: $brown;
            svg{
                color: #fff;
            }
        }
    }
    &--secondary{
        color: #8f6f4a;
        &:hover{
            background-color: $brown;
            color: #fff;
            svg{
                color: #fff;
            }
        }
    }

    &--contact{
        color: #fff;
        background-color: $brown;
        border: solid 2px $brown;
        &:hover{
            background-color: #fff;
            color: $brown;
            svg{
                color: $brown;
            }
        }
    }

    &--brown{
        color: #fff;
        background-color: $brown;
        border: solid 2px $brown;
        &:hover{
            background-color: #fff;
            color: $brown;
            svg{
                color: $brown;
            }
        }
    }



    // buttons with border
    &--border{
        border: none;
        padding: 0.5rem;
        span{
            display: inline-block;
            padding: 1rem 2rem;
            transition: linear 0.2s;
            cursor: pointer;
        }
        svg{
            width: 30px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 2rem;
            margin-bottom: 0.1rem;
        }
        
        &.btn--white{
            background-color: #fff;
            color: #000;
            span{
                border: solid 1px #8f6f4a;
            }
            &:hover{
                background-color: $brown;
                color: #fff;
                span{
                    border: solid 1px #fff;
                }
            }
        }
        &.btn--brown{
            background-color: #8f6f4a;
            color: #fff;
            span{
                border: solid 1px #fff;
            }
            &:hover{
                background-color: #fff;
                color: #8f6f4a;
                span{
                    border: solid 1px #8f6f4a;
                }
            }
        }
    }
}


@media(max-width: 767px){

    .btn{
        max-width: 300px;
        &--border{
            border: none;
            padding: 0.5rem;
            font-size: 0.8rem;
            span{
                padding: 1rem 1rem;
            }
            svg{
                margin-left: 1rem;
                height: 10px;
            }
        }
    }
    

}