.form{
    width: 100%;
    max-width: 460px;
    form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &-group{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: calc(50% - 1rem);
        margin-bottom: 1rem;
        &--full{
            width: 100%;
        }
    }

    &__label{
        color: $brown;
        margin-bottom: 0.5rem;
    }
    &__input{
        width: 100%;
        border: none;
        border-bottom: solid 1px $brown;
        resize: none;
        color: $brown;
        font-family: 'Gotham Light';
    }
}