  @font-face {
    font-family: 'icomoon';
    src:  url('../icons/icomoon.eot?mh831');
    src:  url('../icons/icomoon.eot?mh831#iefix') format('embedded-opentype'),
      url('../icons/icomoon.ttf?mh831') format('truetype'),
      url('../icons/icomoon.woff?mh831') format('woff'),
      url('../icons/icomoon.svg?mh831#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-twitter:before {
    content: "\e903";
  }
  .icon-youtube:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e901";
  }
  .icon-facebook:before {
    content: "\e902";
  }
  