.footer{
    position: relative;
    &__content{
        background-color: #171717;
        &-nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
            .rss{
                width: calc(50% - 50px);
                display: flex;
                justify-content: flex-start;
                align-items: center;
                a{
                    color: $brown;
                    margin: 0 0.75rem;
                    font-size: 1.5rem;
                    transition: linear 0.2s;
                    &:hover{
                        color: #fff;
                    }
                }
            }
            .logo-footer{
                width: 100px;
            }
            nav{
                width: calc(50% - 50px);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-wrap: wrap;
                a{
                    color: #666666;
                    margin: 0 0 1rem 1rem;
                    font-size: 0.75rem;
                    transition: linear 0.2s;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
        &-legals{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 0.75rem;
            color: #666666;
            padding-bottom: 0.5rem;
            .tyc{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                a{
                    margin-right: 1rem;
                    color: #666666;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media(max-width: 567px){
    .footer{
        &__content{
            &-nav{
                flex-direction: column;
                align-items: center;
                padding: 1rem 0;
            }
            .rss{
                width: 100%;
                justify-content: center;
                order: 3;
            }
            nav{
                order: 2;
                width: 100%;
                justify-content: center;
                margin: 1rem 0;
                a{
                    margin: 0.5rem 1rem;
                }
            }
            &-legals{
                flex-direction: column;
                align-items: center;
                .tyc{
                    width: 100%;
                    justify-content: center;
                    a{
                        text-align: center;
                        margin: 0 0.5rem;
                    }
                }
            }
        }
    }
}