.header{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    &__menu{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        &-close{
            display: none;
        }
        &-logo{
            display: block;
            width: 240px;
            padding: 0 1.5rem;
            img{
                width: 100%;
            }
        }
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 1rem 0 0.5rem 0;
            width: calc(50% - 120px);
            border: solid 1px;
            border-image: linear-gradient(to left, $brown , transparent) 1;
            border-left: none;
            border-right: none;
            padding-right: 1rem;
            &:last-child{
                justify-content: flex-start;
                border-image: linear-gradient(to right, $brown , transparent) 1;
                padding-right: 0;
                padding-left: 1rem;
            }
            li{
                margin: 0 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: #fff;
                    font-weight: 500;
                    font-size: 15px;
                    letter-spacing: 1px;
                    line-height: 1rem;
                    font-family: 'Gotham Medium';
                    transition: linear 0.2s;
                    text-align: center;
                    &:hover{
                        color: $brown;
                    }
                }
            }
        }
    }

    &__mobile{
        display: none;
    }
}

@media(max-width: 1023px){
    .header{
        &__menu{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 2;
            flex-direction: column;
            align-items: center;
            background-image: url('../images/bg_wood-large.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            display: none;
            &.show{
                display: flex;
            }
            &-close{
                display: block;
                position: absolute;
                top: 1rem;
                right: 1rem;
                width: 35px;
                svg{
                    width: 100%;
                }
            }
            &-logo{
                order: 1;
                margin-bottom: 3rem;
            }
            ul{
                flex-direction: column;
                align-items: center;
                width: 100%;
                border: 0;
                order: 2;
                padding: 0 !important;
                li{
                    margin-bottom: 1.2rem;
                    a{
                        font-size: 1.8rem;
                        letter-spacing: 1px;
                        line-height: inherit;
                        text-align: center;
                    }
                }
            }
        }
        &__mobile{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            &-logo{
                display: block;
                width: 160px;
                padding: 0;
                img{
                    display: block;
                    width: 100%;
                }
            }
            &-btn{
                width: 40px;
                height: 40px;
                display: block;
                position: absolute;
                top: .8rem;
                right: 1.2rem;
            }
        }
    }
}