.category{
    background-image: url('../images/bg_wood-large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: auto;
    position: relative;
    &__banner{
        position: relative;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: left bottom;
        padding-bottom: 16rem;
        max-width: 1440px;
        margin: 0 auto;
        .container{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 3rem 0;
        }
        &--left{
            width: calc(50%);
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            text-align: right;
            font-family: 'DINPro';
            span{
                font-weight: 500;
                font-size: 2rem;
                color: #cc1335;
                margin-bottom: 0.5rem;
                letter-spacing: 2px;
            }
            h1{
                width: 500px;
                font-size: 4rem;
                letter-spacing: 0.6rem;
                line-height: 4rem;
                &::first-line {
                    color: #cab392;
                }
            }
            .stamp{
                display: block;
                margin-top: 0rem;
                margin-right: -4rem;
            }
        }
        &--right{
            width: calc(50%);
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            color: #cab392;
            padding-top: 1rem;
            h2{
                letter-spacing: 6px;
                margin-bottom: 1rem;
            }
            p{
                line-height: 1.5rem;
                font-family: 'Gotham Light';
                max-width: 500px;
                font-size: 1.2rem;
                margin: 0;
            }
        }
        &-legal{
            position: absolute;
            bottom: 10rem;
            right: 0;
            width: 260px;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(143,111,74,0.5) 80%);
            border-top: solid 1px #8f6f4a;
            border-bottom: solid 1px #8f6f4a;
            padding: 1rem 1rem 1rem 0;
            font-family: 'Gotham Light';
            font-size: 0.8rem;
        }
    }

    &__info{
        background-image: url('../images/category/bg_white.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
        width: 100%;
        margin-top: -15rem;
        position: relative;
    }

    &__products{
        padding: 3rem 0 1rem 0;
        h2{
            font-family: "Gotham Medium";
            color: #fff;
            text-align: center;
            font-size: 2rem;
            letter-spacing: 6px;
            text-shadow: 0 0 10px black;
        }
    }

    &__creation{
        padding: 4rem 0 3rem 0;
        h2{
            font-family: "Gotham Medium";
            color: #ad0a3c;
            text-align: center;
            font-size: 2rem;
            letter-spacing: 6px;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            border: solid 1px;
            -o-border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
            border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
            border-left: none;
            border-right: none;
            border-top: none;
            padding-bottom: 2rem;
        }
        p{
            color: #000;
            text-align: center;
            font-family: 'Gotham Book';
            max-width: 700px;
            margin: 0 auto;
            padding: 3rem 0;
            line-height: 1.5rem;
        }
    }

    &__steps {
        width: 100%;
        background-color: #fff;
        &-container{
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        &-item {
            position: relative;
            width: 100%;
            &:nth-child(1) {
                grid-column: 1 / 2;
            }
            &:nth-child(2) {
                grid-column: 2 / 3; 
            }
            &:nth-child(3) {
                grid-column: 3 / 4; 
            }
            display: grid;
            grid-template-rows: 1fr 1fr;
            .info{
                position: relative;
                width: 100%;
                grid-row: 1 / 2; 
                background-color: #ece4d6;
                color: #3c2711;
                font-family: 'Gotham Light';
                &__content{
                    width: 100%;
                    height: 100%;
                    position:  absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    padding: 2rem;
                }
                    &__frame{
                        width: 100%;
                        height: 100%;
                        border: solid 2px #3c2711;
                        padding: 2rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    
                        strong{
                            font-family: 'Gotham Bold';
                            font-size: 1.2rem;
                            margin-bottom: 1rem;
                            text-align: center;
                        }
                        p{
                            text-align: center;
                        }
                    }
            }
            .image{
                position: relative;
                width: 100%;
                grid-row: 2 / 3; 
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &:nth-child(2n+0){
                .info{
                    background-color: #90052f;
                    color: #fff;
                    grid-row: 2 / 3; 
                    &__frame{
                        border: solid 2px #fff;
                    }
                
                }
                .image{
                    order: 1;
                    grid-row: 1 / 2; 
                }
            }
        }
    }
}

@media(max-width: 1440px){
    .category{
        &__info{
            margin-top: -12rem;
        }
    }
}

@media(max-width: 1279px){
    .category{
        &__banner{
            &--left{
                h1 {
                    width: 400px;
                    font-size: 3rem;
                    letter-spacing: 0.5rem;
                    line-height: 3rem;
                }
            }
        }
        &__steps{
            &-item{
                .info{
                    &__frame{
                        padding: 1rem;
                        strong{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1023px){
    .category{
        &__banner{
            &--left{
                padding: 0 1rem;
                h1 {
                    width: 336px;
                    font-size: 2.5rem;
                    letter-spacing: 0.4rem;
                    line-height: 2.5rem;
                }
                .stamp{
                    margin-right: -2rem;
                    margin-top: -1rem;
                }
            }
            &--right{
                padding: 0 1rem;
                p{
                    font-size: 1.1rem;
                    line-height: 1.4rem;
                }
            }
        }
        &__steps{
            &-item{
                .info{
                    &__content{
                        padding: 1rem;
                    }
                    &__frame{
                        padding: 1rem;
                        strong{
                            font-size: 0.8rem;
                            margin-bottom: 0.5rem;
                        }
                        p{
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 767px){
    .category{
        &__banner{
            .container {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding: 3rem 0;

                flex-direction: column;
            }
            &--left{
                width: 100%;
                align-items: center;
                span{
                    text-align: center;
                    font-size: 1.5rem;
                }
                h1{
                    text-align: center;
                    font-size: 2.2rem;
                }
                .stamp{
                    margin: 0;
                    max-width: 280px;
                }
            }
            &--right{
                width: 100%;
                p{
                    font-size: 1rem;
                    line-height: 1.2rem;
                }
            }
            &-legal{
                bottom: 12rem;
            }
        } 
        &__info {
            margin-top: -10rem;
            h2{
                font-size: 1.5rem;
                letter-spacing: 4px;
                text-align: center;
            }
        }
        &__creation{
            padding: 4rem 0 0 0;
        }
        &__steps{
            &-container {
                grid-template-columns: 1fr;
            }
            &-item{
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr;
                &:nth-child(1) {
                    grid-column: 1/2;
                }
                &:nth-child(2) {
                    grid-column: 1/2;
                }
                &:nth-child(3) {
                    grid-column: 1/2;
                }
                .info{
                    grid-row: 1/2;
                    &__content{
                        padding: 0.5rem;
                    }
                    &__frame{
                        padding: 0.5rem;
                        strong{
                            font-size: 0.7rem;
                        }
                        p{
                            font-size: 0.7rem;
                        }
                    }
                }
                .image{
                    grid-row: 1/2;
                }

                &:nth-child(2n+0){
                    .info{
                        grid-row: 1 / 2; 
                        order: 2;
                    }
                    .image{
                        order: 1;
                    }
                }

                
            }
        }
    }
}

@media(max-width: 467px){
    .category{
        &__steps{
            &-item{
                grid-template-rows: 1fr;
                grid-template-columns: 1fr;
                .info{
                    grid-row: 1/2;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-color: rgb(236 228 214 / 90%);
                    &__content{
                        padding: 1rem;
                    }
                        &__frame{
                            padding: 1rem;
                            strong{
                                font-family: 'Gotham Bold';
                                font-size: 1rem;
                                margin-bottom: 1rem;
                            }
                            p{
                                text-align: center;
                                font-size: 1rem;
                            }
                        }
                }
                .image{
                    grid-row: 1/2;
                }

                &:nth-child(2n+0){
                    .info{
                        background-color: rgb(144 5 47 / 90%);
                    }
                }
            }
        }
    }
}