.contact{
    background-image: url('../images/bg_wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 137px);
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
    &-content{
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: #000;
        position: relative;
        &:after{
            content: '';
            display: block;
            width: 320px;
            height: 266px;
            background-image: url('../images/contact/leaf.png');
            background-repeat: no-repeat;
            background-size: contain;
            margin-top: 0.5rem;
            position: absolute;
            bottom: -140px;
            left: -45px;
        }
    }
    &-line{
        position: absolute;
        left: 50%;
        top: 0;
        width: 1px;
        height: calc(100% - 4rem);
        background-color: #000;
        margin: 2rem 0;
        &:before{
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            margin-left: -6px;
            background-color: #000;
        }
        &:after{
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            margin-left: -6px;
            background-color: #000;
            position: absolute;
            bottom: 0;
        }
    }

    &__info{
        width: 50%;
        padding: 2rem;
        h1{
            color: $brown;
            &:after{
                content: '';
                display: block;
                width: 80px;
                height: 10px;
                background-image: url('../images/silueta_brown.png');
                background-repeat: no-repeat;
                background-size: contain;
                margin-top: 0.5rem;
            }
        }
        p{
            font-family: 'Gotham Light';
        }
        &-email{
            font-family: 'Gotham Light';
            color: #000;
            text-decoration: underline;
            margin: 1.5rem 0;
        }
        strong{
            color: $brown;
            font-size: 1.2rem;
        }
        &-rss{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0.5rem 0;
            a{
                color: $brown;
                margin-right: 1rem;
                font-size: 1.5rem;
                text-decoration: none;
                span{

                }
            }
        }
    }
    &__form{
        width: 50%;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 767px){
    .contact{
        .container{
            padding-bottom: 10rem;
        }
        &-line{
            display: none;
        }
        &-content{
            flex-direction: column;
            &:after{
                left: initial;
                right: -25px;
                width: 250px;
                bottom: -190px;
            }
        }
        &__info{
            width: 100%;
            padding: 2rem 1rem;
        }
        &__form{
            width: 100%;
            padding: 1rem 1rem 5rem 1rem;
        }
    }
}