.home{
    background-image: url('../images/bg_wood-large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: auto;
    position: relative;
    &__banner{
        margin-top: 1rem;
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-left{
            width: calc(50% - 160px);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-family: 'DINPro';
            font-weight: 900;
            font-size: 3.5rem;
            text-align: right;
            letter-spacing: 10px;
        }
        &-products{
            width: 320px;
        }
        &-right{
            width: calc(50% - 160px);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p{
                line-height: 1.5rem;
                font-family: 'Gotham Light';
                max-width: 350px;
                padding-left: 1rem;
                font-size: 1.2rem;
            }
        }
    }

    &__products{
        background-image: url('../images/home/bg_products.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
        width: 100%;
        .container{
            width: 100%;
            max-width: 1024px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-top: 7rem;
        }
        &-item{
            width: 300px;
            height: 300px;
            margin: 0.5rem;
            color: #fff;
            overflow: hidden;
            position: relative;
            .item-img{
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                transition: linear 0.5s;
            }
            &:hover .item-img{
                transform: scale(1.2);
            }
            .item-content{
                position: absolute;
                top: 1rem;
                left: 1rem;
                width: calc(100% - 2rem);
                height: calc(100% - 2rem);
                padding: 1rem;
                border: solid 2px #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &__category{
                    background-color: #000;
                    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
                    font-size: 0.75rem;
                    margin-bottom: 0.5rem;
                }
                &__name{
                    font-family: 'Louda';
                    font-size: 2.5rem;
                    text-align: center;
                    &:after{
                        content: '';
                        display: block;
                        width: 80px;
                        height: 10px;
                        background-image: url('../images/silueta_white.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        margin: 0 auto;
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }

    &__recipe{
        background-image: url('../images/home/bg_recipe.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: calc(150px + 0.5rem + 4rem);
        padding-bottom: 4rem;
        margin-top: calc((150px + .5rem) * -1);
        &-text{
            font-family: 'Gotham Thin';
            font-size: 2rem;
            max-width: 360px;
            strong{
                font-family: "Gotham Medium";
                display: inline-block;
            }
        }
        &-product{
            position: absolute;
            bottom: 30px;
            right: 0;
            z-index: 2;
            width: 520px;
        }
    }
}


@media(max-width: 1023px){
    .home{
        &__banner{
            .container{
            }
            &-left{
                font-size: 2.5rem;
                width: calc(50% - 100px);
            }
            &-products{
                width: 200px;
            }
            &-right{
                width: calc(50% - 100px);
                p{
                    font-size: 1rem;
                }
            }
        }
        &__products{
            .container{
                padding-top: 7rem;
            }
            &-item{
                width: 218px;
                height: 218px;
                .item-content{
                    &__name{
                        font-size: 2rem;
                    }
                }
            }
        }
        &__recipe {
            padding-top: calc(150px + 0.5rem + 2rem);
            padding-bottom: 3rem;
            margin-top: calc((109px + .5rem) * -1);
            &-text{
                font-family: 'Gotham Thin';
                font-size: 1.5rem;
                max-width: 245px;
            }
            &-product{
                position: absolute;
                bottom: 30px;
                right: 0;
                z-index: 2;
                width: 380px;
            }
        }
    }
}

@media(max-width: 639px){
    .home{
        background-size: cover;
        &__banner{
            .container{
                flex-wrap: wrap;
            }
            &-left{
                font-size: 2.5rem;
                width: 100%;
                order: 1;
                text-align: center;
                justify-content: center;
            }
            &-products{
                width: 90%;
                max-width: 300px;
                order: 3;
                margin-bottom: 1rem;
            }
            &-right{
                width: 100%;
                order: 2;
                p{
                    text-align: center;
                    padding: 0;
                    margin: 1rem auto;
                    max-width: 400px;
                }
            }
        }
        &__products{
            .container{
                padding: 0;
                max-width: 468px;
            }
            &-item{
                width: 138px;
                height: 138px;
                .item-content{
                    top: 0.5rem;
                    left: 0.5rem;
                    width: calc(100% - 1rem);
                    height: calc(100% - 1rem);
                    padding: 0.5rem;
                    &__category{
                        font-size: 0.6rem;
                        padding: 0.4rem 0.5rem;
                    }
                    &__name{
                        font-size: 1.4rem;
                    }
                }
            }
        }
        &__recipe {
            padding-top: calc(69px + 0.5rem + 2rem);
            padding-bottom: 3rem;
            margin-top: calc((69px + .5rem) * -1);
            .container{
                padding-bottom: 180px;
            }
            &-text{
                font-family: 'Gotham Thin';
                font-size: 1.5rem;
                max-width: 310px;
            }
            &-product{
                bottom: 20px;
                width: 300px;
            }
        }
    }
}