.product{
    background-image: url('../images/bg_wood-large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: auto;
    position: relative;
    &__banner{
        position: relative;
        padding: 1rem 0;
        .container{
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        &--left{
            width: calc(50%);
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            text-align: right;
            .product__image{
                display: block;
                width: 320px;
                height: 320px;
                margin-top: 2rem;
                position: relative;
                &-main{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: right;
                }
                &-leaf{
                    position: absolute;
                    bottom: -90px;
                    right: -60px;
                    width: 200px;
                }
            }
            
        }
        &--right{
            width: calc(50%);
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            color: #cab392;
            padding-top: 4rem;
            h1{
                width: 370px;
                font-size: 3.5rem;
                letter-spacing: 6px;
                line-height: 4rem;
                color: #fff;
                font-family: 'DINPro';
                &::first-line {
                    color: #cab392;
                }
            }
            .presentation{
                font-family: 'DINPro';
                color: #cc1335;
                font-size: 2rem;
                margin-top: 1rem;
            }
            .description{
                margin: 1rem 0;
                font-family: 'Gotham Light';
                max-width: 500px;
                line-height: 1.4rem;
            }
        }
    }

    &__gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 14rem;
        max-width: 1010px;
        margin: 0 auto;
        margin-top: 4rem;
        &-item{
            width: 320px;
            height: 320px;
            display: block;
            object-fit: cover;
            margin: 0.5rem;
        }
    }

    &__related{
        background-image: url('../images/products/bg_white-related.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 6rem;
        width: 100%;
        margin-top: -10.5rem;
        position: relative;
        padding: 1rem 0 5rem 0;
        h2{
            font-family: "Gotham Medium";
            color: #cab392;
            text-align: center;
            font-size: 2rem;
            letter-spacing: 6px;
            text-shadow: 0 0 10px black;
        }
        &-content{
            display: flex;
            justify-content: center;
            align-items: center;
            .product__item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 1rem;
                width: 300px;
                &-image{
                    display: block;
                    width: 300px;
                    height: 300px;
                    padding: 2rem;
                    object-fit: contain;
                }
                .btn{

                }
            }
        }
    }

}


@media(max-width: 767px){
    .product{
        &__banner{
            .container{
                flex-direction: column;
            }
            &--left{
                width: 100%;
                align-items: center;
                padding: 0;
                .product__image{
                    width: 260px;
                    height: 260px;
                    &-main{
                        object-position: center;
                    }
                    &-leaf{
                        position: absolute;
                        bottom: -45px;
                        right: -15px;
                        width: 150px;
                    }
                }
            }
            &--right{
                width: 100%;
                align-items: center;
                padding: 2rem 0 0 0;
                h1{
                    text-align: center;
                    width: 100%;
                    font-size: 2.2rem;
                    letter-spacing: 3px;
                    line-height: inherit;
                }
                .description{
                    max-width: 500px;
                    line-height: 1.4rem;
                    text-align: center;
                }
            }
        }
        &__gallery{
            margin-top: 0;
            &-item{
                padding: 1rem;
                margin: 0;
            }
        }
    }
}
