.productos{
    background-image: url('../images/bg_wood-large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: auto;
    position: relative;

    &__nav{
        position: fixed;
        top: calc(50% - 144px);
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        width: auto;
        a{
            width: 150px;
            height: 40px;
            background-color: transparent;
            margin: 0.25rem 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: #fff;
            font-family: 'DINPro';
            text-align: right;
            font-size: 0.8rem;
            transition: linear 0.2s;
            opacity: 0.5;
            &:after{
                content: '';
                display: block;
                width: 40px;
                height: 2px;
                background-color: #8f6f4a;
                margin-left: 0.5rem;
            }
            &:hover,
            &.active{
                background-color: #fff;
                color: #000000;
                opacity: 1;
            }
        }
    }

    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        &-image{
            width: 400px;
        }
        &-info{
            max-width: 400px;
            .tag{
                font-family: 'DINPro';
                color: #e2cba1;
                letter-spacing: 2px;
            }
            .name{
                font-family: 'DINPro';
                font-weight: bold;
                font-size: 3.5rem;
                letter-spacing: 6px;
            }
        }
    }
}

@media(max-width: 1023px){
    .productos{
        &__item{
            &-info{
                max-width: 300px;
                .name {
                    font-size: 2.5rem;
                }
            } 
        }
    }
}

@media(max-width: 767px){
    .productos{
        padding-left: 1rem;
        padding-right: 1rem;
        &__nav{
            display: none;
        }
        &__item{
            flex-direction: column;
            margin-top: 2rem;
            align-items: flex-end;
            &:nth-child(2n+0){
                align-items: flex-start;
                .productos__item-info{
                    text-align: left;
                }
            }
            &-image{
                width: 80%;
                max-width: 300px;
                order: 2;
            }
            &-info{
                max-width: 280px;
                order: 1;
                text-align: right;
                .name {
                    font-size: 2rem;
                }
            } 
        }
    }
}