.recipe{
    width: 100%;
    height: auto;
    padding-top: 0 !important;
    background-image: url('../images/bg_wood.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: auto;

    &__video{
        width: 100%;
        height: 800px;
        &-container{
            // position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
        }
        
        &-foreground,
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }

    &__content{
        background-image: url('../images/recipes/bg_white.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        width: 100%;
        padding: 10rem 0 4rem 0;
        margin-top: -6rem;
        position: relative;
        .container{
            max-width: 980px;
        }
    }

        &__head{
            display: flex;
            justify-content: center;
            align-items: center;
            &-image{
                width: 50%;
                img{
                    display: block;
                    width: 320px;
                    height: 320px;
                    margin: 0 auto;
                }
            }
            &-name{
                width: 50%;
                color: #000;
                .type{
                    font-family: 'DINPro';
                }
                h1{
                    font-size: 2rem;
                    letter-spacing: 6px;
                    line-height: 4rem;
                    color: #ad0a3c;
                    font-family: 'DINPro';
                    border: solid 1px;
                    -o-border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
                    border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    line-height: 3rem;
                    padding-bottom: 0.5rem;
                    text-align: center;
                    &::first-line {
                        color: #cab392;
                        font-size: 4rem;
                    }
                }
                .tags{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 1rem;
                    &__item{
                        background-color: #ece4d6;
                        width: auto;
                        height: 70px;
                        padding: 0.5rem;
                        margin: 0 0.5rem;
                        &-content{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: solid 2px #3c2711;
                            padding: 0 1rem;
                            .icon{
                                display: block;
                                height: 2rem;
                                margin-right: 0.5rem;
                            }
                            .text{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-start;
                                small{
                                    font-family: 'Gotham Light';
                                    line-height: 1.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__text{
            color: #000;
            text-align: center;
            font-family: 'Gotham Light';
            width: 100%;
            max-width: 800px;
            margin:  2rem auto 0 auto;
        }
        &__process{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 2rem;
            &-item{
                width: 50%;
                h2{
                    color: #ad0a3c;
                    letter-spacing: 4px;
                    margin-bottom: 1rem;
                    text-align: center;
                }
                .info{
                    color: #000;
                    font-family: 'Gotham Light';
                    padding: 0 1rem;
                    strong{
                        display: block;
                        font-family: 'Gotham Bold';
                        margin: 1rem 0 0.4rem 0;
                    }
                    ul{
                        padding-left: 2rem;
                        li{
                            list-style: inherit;
                            margin-bottom: 0.2rem;
                        }
                    }
                    ol{
                        padding-left: 2rem;
                        li{
                            list-style: inherit;
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
        }

        &__video-element{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            iframe{
                width: 540px;
                height: 300px;
            }
        }

        &__retailers{
            margin-top: 4rem;
            h2{
                font-size: 2rem;
                letter-spacing: 6px;
                line-height: 4rem;
                color: #ad0a3c;
                font-family: "DINPro";
                border: solid 1px;
                border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
                border-left: none;
                border-right: none;
                border-top: none;
                line-height: 3rem;
                padding-bottom: 0.5rem;
                text-align: center;
            }
            &-content{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 0.5rem 0;
                a{
                    margin: 0.5rem 2rem;
                    width: 180px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        display: block;
                        width: 90%;
                        transition: linear 0.2s;
                    }
                    &:hover{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }

    &__shared{
        background-image: url('../images/home/bg_recipe.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 4rem 0 3rem 0;
        position: relative;
        h2{
            text-align: center;
            letter-spacing: 4px;
            margin-bottom: 1rem;
        }
        &-content{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: #fff;
                font-size: 2.5rem;
                margin: 0 1rem;
            }
        }
    }  
}

@media(max-width: 1023px){
    .recipe{
        &__head{
            flex-direction: column;
            &-image{
                width: 100%;
            }
            &-name{
                width: 100%;
            }
        }
    }
}

@media(max-width: 767px){
    .recipe{    
        &__video{ 
            height: 20px;
            &-container{
                display: none;
            }
        }
        &__content{
            margin-top: 0rem;
            padding: 4rem 0;
        }
    }
}

@media(max-width: 567px){
    .recipe{
        &__head{
            &-image{
                img{
                    width: 100%;
                    max-width: 400px;
                    height: auto;
                }
            }
            &-name{
                h1{
                    font-size: 1.2rem;
                    letter-spacing: 2px;
                    line-height: initial;
                    text-align: center;
                    &::first-line {
                        color: #cab392;
                        font-size: 2rem;
                    }
                }
                .tags{
                    flex-wrap: wrap;
                    &__item{
                        margin: 0.5rem;
                        &-content{
                            padding: 0 0.5rem;
                            .icon{
                                height: 1.5rem;
                            }
                            .text{
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
        &__process{
            flex-direction: column;
            align-items: center;
            &-item{
                width: 100%;
                margin-bottom: 1rem;
            }
        }

        &__video-element{
            iframe{
                width: 300px;
                height: 200px;
            }
        }
    }
}




@media (min-aspect-ratio: 16/9) {
    .recipe__video-foreground {
        height: 300%;
        top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .recipe__video-foreground {
        width: 300%;
        left: -100%;
    }
}
@media all and (max-width: 600px) {
    .vid-info {
      width: 50%;
      padding: 0.5rem;
    }
    .vid-info h1 {
      margin-bottom: 0.2rem;
    }
}
@media all and (max-width: 500px) {
    .vid-info .acronym {
      display: none;
    }
}
  


