.recipes{
    background-image: url('../images/bg_wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    &__banner{
        padding: 3rem 0;
        position: relative;
        h1{
            font-family: 'DINPro';
            font-size: 3.5rem;
            text-align: center;
            letter-spacing: 4px;
        }
        .img-leaf{
            position: absolute;
            bottom: -140px;
            left: 0;
            width: 140px;
            z-index: 1;
        }
    }

    &__content{
        background-image: url('../images/bg_table-white.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        width: 100%;
        padding-top: 1rem;
        margin-top: 8rem;
        padding-bottom: 4rem;
        .container{
            width: 100%;
            max-width: 1024px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: -8rem;
        }
        &-item{
            width: 300px;
            height: 300px;
            margin: 0.5rem;
            color: #fff;
            overflow: hidden;
            position: relative;
            .item-img{
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                transition: linear 0.5s;
            }
            &:hover .item-img{
                transform: scale(1.2);
            }
            .item-content{
                position: absolute;
                top: 1rem;
                left: 1rem;
                width: calc(100% - 2rem);
                height: calc(100% - 2rem);
                padding: 1rem;
                border: solid 2px #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &__category{
                    background-color: #000;
                    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
                    font-size: 0.75rem;
                    margin-bottom: 0.5rem;
                }
                &__name{
                    font-family: 'Louda';
                    font-size: 2rem;
                    text-align: center;
                    &:after{
                        content: '';
                        display: block;
                        width: 80px;
                        height: 10px;
                        background-image: url('../images/silueta_white.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        margin: 0 auto;
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 767px){
    .recipes{
        &__banner{
            padding: 2rem 0;
            position: relative;
            h1{
                font-size: 2.5rem;
            }
            .img-leaf{
                bottom: -70px;
                left: 0;
                width: 80px;
            }
        }
    }
}