.retailers{
    background-image: url('../images/bg_wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 137px);
    &__banner{
        padding: 3rem 2rem;
        position: relative;
        h1{
            font-family: 'DINPro';
            font-size: 3.5rem;
            text-align: left;
            max-width: 400px;
            &::first-line {
                color: #cab392;
                font-size: 4rem;
            }
            &:after{
                content: '';
                display: block;
                width: 80px;
                height: 10px;
                background-image: url('../images/silueta_white.png');
                background-repeat: no-repeat;
                background-size: contain;
                margin-top: 0.5rem;
            }
        }
        &-select{
            margin: 1rem 0;
            label{
                display: block;
                font-family: 'Gotham Light';
                margin-bottom: 0.5rem;
            }
            select{
                display: block;
                width: 100%;
                max-width: 300px;
                height: 50px;
                background-color: #fff;
                font-size: 1rem;
                color: #171717;
                line-height: 1rem;
                font-size: 0.8rem;
                padding: 0 1rem;
                outline: none;
            }
        }
        .img-plato{
            position: absolute;
            bottom: -80px;
            right: 0;
            width: 500px;
            z-index: 1;
        }
    }
    &__content{
        background-image: url('../images/bg_table-white.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        width: 100%;
        position: relative;
        padding: 8rem 0 4rem;
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 800px;
        }
    }
        &__item{
            display: block;
            width: 100%;
            max-width: 320px;
            padding: 1rem;
            margin: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: solid 1px;
            -o-border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
            border-image: linear-gradient(to left, transparent, #8f6f4a, transparent) 1;
            border-left: none;
            border-right: none;
            border-top: none;
            &-info{
                color: #000;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                font-family: 'Gotham Thin';
                strong{
                    font-family: 'Gotham Medium';
                }
                small{
                    font-family: 'Gotham Light';
                }
            }
            &-logo{
                width: 180px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                img{
                    display: block;
                    width: 90%;
                    transition: linear 0.2s;
                }
                &:hover img{
                    width: 100%;
                }
                
            }
        }

}

@media(max-width: 1023px){
    .retailers{
        &__banner {
            .img-plato {
                width: 380px;
            }
        }
    }
}

@media(max-width: 767px){
    .retailers{
        &__banner {
            padding: 2rem 0 6rem 0;
            h1 {
                font-family: "DINPro";
                font-size: 2.5rem;
                text-align: left;
                max-width: 400px;
                &::first-line {
                    font-size: 2.6rem;
                }
            }
            .img-plato{
                width: 280px;
            }
        }
    }
}

