.somos{
    background-image: url('../images/bg_wood-large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: auto;
    &__banner{
        padding: 3rem 0;
        position: relative;
        h1{
            font-family: 'DINPro';
            font-size: 3.5rem;
            text-align: center;
        }
        .img-granada{
            position: absolute;
            bottom: -140px;
            right: 0;
            width: 160px;
            z-index: 1;
        }
    }
    &__history{
        background-image: url('../images/bg_table-white.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        padding-top: 8rem;
        overflow: hidden;
        
        .line{
            position: absolute;
            top: 8rem;
            left: calc(50% - 0.5px);
            width: 1px;
            height: 100%;
            background-color: rgb(115 115 115 / 20%);
        }
        &-item{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 340px;
            width: 100%;
            .date{
                position: absolute;
                top: 0;
                left: calc(50% - 10px);
                background-image: url('../images/somos/bg_date-right.png');
                background-repeat: no-repeat;
                background-size: 100% auto;
                width: 120px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
            }
            .left,
            .right{
                width: 50%;
                position: relative;
                height: 100%;
            }

            .info{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                p{
                    padding: 1rem 2rem;
                    text-align: left;
                    font-family: 'Gotham Book';
                    color: #000;
                    width: 100%;
                    max-width: 500px;
                }
            }

            &:nth-child(2n+1){
                .date{
                    left: calc(50% - 110px);
                    background-image: url('../images/somos/bg_date-left.png');
                }
                .info{
                    justify-content: flex-end;
                    p{
                        text-align: right;
                    }
                }
            }

            .img-cuchillo{
                position: absolute;
                top: -50px;
                left: -200px;
                width: 480px;
            }
            
            // Serranos
            .img-1865{
                position: absolute;
                top: 0;
                right: 20%;
                width: 280px;
            }
            // Queso
            .img-1965{
                position: absolute;
                top: -20px;
                left: 20%;
                width: 400px;
            }
            // Chistorra
            .img-2002{
                position: absolute;
                top: 0;
                right: 20%;
                width: 286px;
            }
            // Jamon
            .img-2008{
                position: absolute;
                top: -80px;
                left: 30%;
                width: 620px;
            }
            // Sandwich
            .img-actual{
                position: absolute;
                top: -20px;
                right: 20%;
                width: 460px;
            }

        }
    }

}

@media(max-width: 640px){
    .somos{
        &__banner{
            padding: 2rem 0;
            h1{
                font-size: 2rem;
                padding: 0 1rem;
            }
            .img-granada{
                bottom: -60px;
                width: 80px;
            }
        }
        &__history{
            padding-top: 4rem;
            padding-bottom: 2rem;
            .line{
                top: 4rem;
                left: 1rem;
            }
            &-item{
                flex-direction: column;
                height: auto;
                padding-top: 40px;
                .date{
                    left: calc(1rem - 10px);
                }
                .left,
                .right{
                    width: 100%;
                    height: auto;
                }

                .left{
                    height: 200px;
                    order: 2;
                    img{
                        position: relative;
                        top: inherit;
                        left: inherit;
                        right: inherit;
                        object-fit: contain;
                        width: inherit;
                        height: 100%;
                    }
                }
                .right{
                    height: 200px;
                    order: 1;
                }

                .info{
                    justify-content: flex-start;
                    align-items: center;
                    height: auto;
                    p{
                        padding: 0rem 2rem;
                        text-align: left;
                        font-family: 'Gotham Thin';
                        color: #000;
                        width: 100%;
                        max-width: 500px;
                    }
                }

                &:nth-child(2n+1){
                    .left{
                        order: 1;
                    }
                    .right{
                        order: 2;
                        img{
                            position: relative;
                            top: inherit;
                            left: inherit;
                            right: inherit;
                            object-fit: contain;
                            width: inherit;
                            height: 100%;
                        }
                    }
                    .date{
                        left: calc(1rem - 10px);
                        background-image: url('../images/somos/bg_date-right.png');
                    }
                    .info{
                        justify-content: flex-start;
                        align-items: center;
                        p{
                            text-align: left;
                        }
                    }
                }


            }
        }
    }
}