<template>
    <div>

        <transition name="fade">
            <div class="experience" v-cloak>

                <div class="experience-scrolldown" v-on:click="scrollDown" v-show="btnScrollFixed">
                    <!-- <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg> -->
                    <img :src="`${url}/images/experience/cta_descubrelo.png`" alt="Descubrelo">
                </div>

                <section class="banner">
                    <img class="banner__logo" :src="`${url}/images/experience/logo_experience.png`" alt="Logo La Experiencia food provoker">
                    <div class="banner__text1">
                        ¡QUÉ EMOCIÓN!
                    </div>
                    <div class="banner__name">
                        {{ username }}
                    </div>
                    <p>
                        ESTAMOS FELICES DE FESTEJAR CONTIGO, TENEMOS TODO PARA QUE CELEBRES...
                    </p>
                    <div class="banner__cta" v-on:click="scrollDown">
                        <img :src="`${url}/images/experience/cta_descubrelo.png`" alt="Descubrelo">
                    </div>
                </section>

                <section class="invitation">
                    <div class="invitation__text">
                        PRIMERO LO PRIMERO… TU LISTA DE INVITADOS
                    </div>
                    <img v-if="invitationWeb" class="invitation__image" :src="`${url}/storage/${invitationWeb}`" alt="Invitación Cumpleaños">
                    <a :href="`${url}/storage/${invitation}`" download class="btn btn--border btn--white">
                        <span>
                            DESCARGA TU INVITACIÓN
                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                        </span>
                    </a>
                </section>

                <section class="receta">
                    <div class="receta__text">
                        CREA UNA EXPERIENCIA FOOD PROVOKER® CON ESTE PLATILLO GOURMET
                    </div>
                    <div class="wrapper">
                        <div class="receta__title">
                            <img class="receta__title--desktop" :src="`${url}/images/experience/RECETA.png`" alt="RECETA">
                            <img class="receta__title--mobile" :src="`${url}/images/experience/RECETA_mobile.png`" alt="RECETA">
                        </div>
                        <div class="receta__clock">
                            <img :src="`${url}/images/experience/clock.gif`" alt="Reloj Experience">
                        </div>
                        <div class="receta__name">
                            <div class="receta__name-content">
                                {{ recipeName }}
                            </div>
                        </div>
                        <div class="receta__preparala">
                            <p><span>PREPÁRALA</span> FÁCIL <br> Y RÁPIDO… </p>
                        </div>
                        <div class="receta__image">
                            <div class="receta__image-main">
                                <img v-if="recipeImage" :src="`${url}/storage/${recipeImage}`" :alt="recipeName">
                            </div>
                            <div class="receta__image-controls">
                                <div class="arrow-btn arrow-left" v-on:click="prevRecipe()">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                                </div>
                                <div class="arrow-btn">OTRA RECETA</div>
                                <div class="arrow-btn arrow-right" v-on:click="nextRecipe()">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a v-if="recipeSlug" :href="`/recetas/${recipeSlug}`" target="_blank" class="btn btn--border btn--white">
                        <span>
                            VER RECETA
                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                        </span>
                    </a>
                </section>

                <div class="ingredients">
                    <div class="ingredients__title">
                        <img :src="`${url}/images/experience/LISTA_SUPER.png`" alt="LISTA DE SÚPER">
                    </div>
                    <div class="wrapper">
                        <VueSlickCarousel v-if="ingredients.length > 0" 
                            ref="slick" 
                            v-bind="slickOptions" 
                            class="ingredients-carousel">
                            <template #prevArrow="">
                                <div class="arrow-btn arrow-left">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                                    ANTERIOR
                                </div>
                            </template>
                            <template #nextArrow="">
                                <div class="arrow-btn arrow-right">
                                    SIGUIENTE
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                                </div>
                            </template>


                            <div class="ingredients-carousel__item" v-for="(product, index) in products" :key="`${index}`">
                                <div class="ingredients-carousel__item-content">
                                    <img class="ingredients-carousel__item-image main-product" :src="`${url}/storage/${product.image}`" :alt="product.name">
                                    <div class="ingredients-carousel__item-name">
                                        <strong>{{ product.name }}</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="ingredients-carousel__item" v-for="(ingredient, index2) in ingredients" :key="`${index2 + 2}`">
                                <div class="ingredients-carousel__item-content">
                                    <img class="ingredients-carousel__item-image" :src="`${url}/storage/${ingredient.image}`" :alt="ingredient.name">
                                    <div class="ingredients-carousel__item-name">
                                        <strong>{{ ingredient.name }}</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="ingredients-carousel__item" v-for="(product, index) in products" :key="`${index}`">
                                <div class="ingredients-carousel__item-content">
                                    <img class="ingredients-carousel__item-image main-product" :src="`${url}/storage/${product.image}`" :alt="product.name">
                                    <div class="ingredients-carousel__item-name">
                                        <strong>{{ product.name }}</strong>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="ingredients-carousel__item" v-for="(ingredient, index2) in ingredients" :key="`${index2 + 2}`">
                                <div class="ingredients-carousel__item-content">
                                    <img class="ingredients-carousel__item-image" :src="`${url}/storage/${ingredient.image}`" :alt="ingredient.name">
                                    <div class="ingredients-carousel__item-name">
                                        <strong>{{ ingredient.name }}</strong>
                                    </div>
                                </div>
                            </div>

                            
                        </VueSlickCarousel>
                    </div>
                    <a :href="recipeIngredients" class="btn btn--border btn--white" target="_blank">
                        <span>
                            COMPRAR INGREDIENTES
                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                        </span>
                    </a>
                </div>

                <div class="download-ingredients">
                    <a :href="`${url}/storage/${recipePdf}`" class="btn btn--border btn--white" target="_blank">
                        <span>
                            DESCARGAR INGREDIENTES
                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                        </span>
                    </a>
                </div>

                <section class="musica">
                    <div class="wrapper">
                        <div class="musica__text">
                            <div class="musica__text-content">
                                PARA QUE EL FESTEJO SIGA...
                                <br>
                                <span>
                                    TE RECOMENDAMOS ALGUNAS DE NUESTRAS PLAYLISTS FAVORITAS
                                </span>
                            </div>
                        </div>

                        <!-- Playlists -->
                        <div :class="`musica__playlist${index + 1}`" v-for="(playlist, index) in playlists" :key="index" :id="index">
                            <a :href="playlist.link" target="_blank">
                                <img :src="`${url}/storage/${playlist.image}`" :alt="playlist.name">
                                <p>{{ playlist.name }}</p>
                            </a>
                        </div>

                        <div class="musica__title">
                            <img class="musica__title--mobile" :src="`${url}/images/experience/MUSICA_mobile.png`" alt="MÚSICA">
                            <img class="musica__title--desktop" :src="`${url}/images/experience/MUSICA.png`" alt="MÚSICA">
                        </div>
                    </div>
                </section>

                <section class="preparate">
                    <div class="receta__text">
                        YA CASI TIENES TODO LISTO, NO OLVIDES…
                    </div>
                    <div class="wrapper">
                        <div class="preparate__mesa">
                            <img :src="`${url}/images/experience/preparate_mesa.png`" alt="Prepara la mesa">
                            <p>PREPARAR LA MESA</p>
                        </div>
                        <div class="preparate__menu">
                            <img :src="`${url}/images/experience/preparate_menu.png`" alt="Alista el menú">
                            <p>ALISTAR EL MENÚ</p>
                        </div>
                        <div class="preparate__brindis">
                            <img :src="`${url}/images/experience/preparate_brindis.png`" alt="Planea el brindis">
                            <p>PLANEAR EL BRINDIS</p>
                        </div>
                        <div class="preparate__title">
                            <img :src="`${url}/images/experience/PREPARATE.png`" alt="PREPARATE">
                        </div>
                        <div class="preparate__text">
                            YA CASI TIENES TODO LISTO, NO OLVIDES…
                        </div>
                        <div class="preparate__listo">
                            <img :src="`${url}/images/experience/preparate_ambiente.png`" alt="Ambienta tu casa">
                            <p>TODO ESTÁ LISTO PARA TU CELEBRACIÓN</p>
                        </div>
                    </div>
                </section>

                <section class="goodbye">
                    <video class="goodbye__video" autoplay muted loop>
                        <source :src="`${url}/images/experience/bg_goodbye.mp4`" type="video/mp4">
                    </video>
                    <div class="wrapper">
                        <div class="goodbye__title">
                            {{ celebrations[celebration] ? celebrations[celebration].name_close : '' }}
                        </div>
                        <div class="goodbye__name">
                            {{ username }}
                        </div>

                        <img class="goodbye__logo--parma" :src="`${url}/images/logo_parma.png`" alt="Logo Parma">
                        <p>
                            SIEMPRE EN LOS MOMENTOS ESPECIALES DE TU VIDA
                            <br>
                            ¡DISFRÚTALO! 
                        </p>
                        <img class="goodbye__logo--experience" :src="`${url}/images/experience/logo_experience.png`" alt="Logo Experience">

                    </div>
                </section>

                <section class="ctas">
                    <div class="ctas__item">
                        <a class="btn btn--border btn--white" :href="`${url}/experiencia`">
                            <span>
                                VOLVER A INICIAR EXPERIENCIA
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                            </span>
                        </a>
                    </div>
                    <div class="ctas__item">
                        <div class="btn btn--border btn--brown" target="_blank" v-on:click="shareFb" id="shareButton2">
                            <span>
                                COMPARTIR EXPERIENCIA EN FACEBOOK
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                            </span>
                        </div>
                    </div>
                </section>

            </div>
        </transition>
        
    </div>
</template>

<script>
    import VueSlickCarousel from 'vue-slick-carousel'
    import 'vue-slick-carousel/dist/vue-slick-carousel.css'
    export default {
        props: {
            experience: {
                type: Number,
            },
            celebration: {
                type: Number,
            },
            username: {
                type: String,
            },
            category: {
                type: Number,
            }
        },
        components: { VueSlickCarousel },
        data() {
            return {
                url: $('#url').text(),
                products: [],
                ingredients: [],
                categories: [],
                celebrations: [],
                invitationWeb: null,
                invitation: null,
                showNameError: false,
                showCelebrationError: false,
                btnScrollFixed: false,

                recipes: [],
                recipeId: 0,
                recipeName: "",
                recipeImage: "",
                recipePdf: "",
                recipeSlug: "",
                recipeIngredients: "",
                playlists: [],
                slickOptions: {
                    arrows: true,
                    dots: false,
                    autoplay: false,
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    infinite: true,
                    touchMove: true,
                    responsive: [
                        {
                          breakpoint: 768,
                          settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                          }
                        },
                        {
                          breakpoint: 480,
                          settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                          }
                        }
                        // You can unslick at a given breakpoint now by adding:
                        // settings: "unslick"
                        // instead of a settings object
                    ]
                },
            }
        },
        mounted() {
            this.getCelebrations();
            this.getPlaylists();
            this.getRecipes(this.category);
        },
        created () {
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed () {
            window.removeEventListener('scroll', this.handleScroll);
        },
        methods: {
            getPlaylists() {
                axios.get(`/get-playlists`)
                .then(resp => {
                    this.playlists = resp.data;
                })
                .catch(err => {
                    
                })
            },
            getCelebrations() {
                axios.get(`/get-celebrations`)
                .then(resp => {
                    this.celebrations = resp.data;
                    this.selectCelebration();
                })
                .catch(err => {
                    
                })
            },
            selectCelebration(){
                this.invitationWeb = this.celebrations[this.celebration]['invitation_web'];
                this.invitation = this.celebrations[this.celebration]['invitation'];
            },
            getRecipes(categoryId) {
                axios.get(`/get-recipes/${categoryId}`)
                .then(resp => {
                    this.recipes = resp.data;
                    
                    this.recipeName = this.recipes[this.recipeId]['full_name'];
                    this.recipeImage = this.recipes[this.recipeId]['image_main'];
                    this.recipePdf = this.recipes[this.recipeId]['recipe_pdf'];
                    
                    this.recipeSlug = this.recipes[this.recipeId]['slug'];
                    this.recipeIngredients = this.recipes[this.recipeId]['ingredients_link'];

                    this.getIngredients(this.recipes[this.recipeId]['id']);
                    this.getMainProduct(this.recipes[this.recipeId]['id']);
                })
                .catch(err => {
                
                })

                this.step++;
            },
            nextRecipe(){
                if(this.recipeId == (this.recipes.length - 1)){
                    this.recipeId = 0
                }else{
                    this.recipeId = this.recipeId + 1;
                }

                this.recipeName = this.recipes[this.recipeId]['full_name'];
                this.recipeImage = this.recipes[this.recipeId]['image_main'];
                this.recipePdf = this.recipes[this.recipeId]['recipe_pdf'];
                this.recipeSlug = this.recipes[this.recipeId]['slug'];
                this.recipeIngredients = this.recipes[this.recipeId]['ingredients_link'];

                this.getIngredients(this.recipes[this.recipeId]['id']);
                this.getMainProduct(this.recipes[this.recipeId]['id']);
                this.getPlaylists();
            },
            prevRecipe(){
                if(this.recipeId == 0){
                    this.recipeId = this.recipes.length - 1;
                }else{
                    this.recipeId = this.recipeId - 1;
                }

                this.recipeName = this.recipes[this.recipeId]['full_name'];
                this.recipeImage = this.recipes[this.recipeId]['image_main'];
                this.recipePdf = this.recipes[this.recipeId]['recipe_pdf'];
                this.recipeSlug = this.recipes[this.recipeId]['slug'];
                this.recipeIngredients = this.recipes[this.recipeId]['ingredients_link'];

                this.getIngredients(this.recipes[this.recipeId]['id']);
                this.getMainProduct(this.recipes[this.recipeId]['id']);
                this.getPlaylists();
            },
            getMainProduct() {
                axios.get(`/get-product/${this.recipes[this.recipeId]['id']}`)
                .then(resp => {
                    this.products = resp.data;
                })
                .catch(err => {
                        
                })
            },
            getIngredients(recipeId) {
                axios.get(`/get-ingredients/${recipeId}`)
                .then(resp => {
                    this.ingredients = resp.data;
                })
                .catch(err => {
                    
                })
            },
            getCategories() {
                axios.get(`/get-categories`)
                .then(resp => {
                    this.categories = resp.data;
                })
                .catch(err => {
                    
                })
            },
            scrollDown(){
                window.scrollTo(0, window.scrollY + window.innerHeight)
            },
            handleScroll (event) {
                var bodyPage = document.body,
                    htmlPage = document.documentElement;

                var heightPage = Math.max( bodyPage.scrollHeight, bodyPage.offsetHeight, 
                        htmlPage.clientHeight, htmlPage.scrollHeight, htmlPage.offsetHeight );

                if(window.scrollY > (window.innerHeight * .5) && window.scrollY < (heightPage - (window.innerHeight * 1.5)) ){
                    this.btnScrollFixed = true;
                }else{
                    this.btnScrollFixed = false;
                }
            },
            shareFb(){

                FB.init({
                    appId            : '1067984557070225',
                    autoLogAppEvents : true,
                    xfbml            : true,
                    version          : 'v11.0'
                });

                FB.ui({
                    method: 'share',
                    quote: this.celebrations[this.celebration]['text_share'],
                    href: `${this.url}/experiencia/${this.celebrations[this.celebration]['slug']}?id=${this.experience}`,
                }, function(response){});
            },
            // reInit() {
            //     this.$nextTick(() => {
            //         console.log('aqui');
            //         this.$refs.slick.reSlick();
            //     });
            // },
            // handleReInit(event, slick) {
            //     console.log('handleReInit', event, slick);
            // },
            // beforeUpdate() {
            //     if (this.$refs.slick) {
            //         this.$refs.slick.destroy();
            //     }
            // },
            // updated() {
            //     this.$nextTick(function () {
            //         if (this.$refs.slick) {
            //             this.$refs.slick.create(this.slickOptions);
            //         }
            //     });
            // }
        }
    }
</script>

<style lang="scss">
    
</style>

