<template>
    <div>
        <div class="intro">

            <section class="questions">

                <transition name="fade">
                    <div class="questions__bullets" v-show="step > 0" v-cloak>
                        <div class="questions__bullets-item" v-bind:class="step == 1 ? 'active' : ''">
                            1
                        </div>
                        <div class="questions__bullets-item" v-bind:class="step == 2 ? 'active' : ''">
                            2
                        </div>
                        <div class="questions__bullets-item" v-bind:class="step == 3 ? 'active' : ''">
                            3
                        </div>
                        <div class="questions__bullets-item" v-bind:class="step == 4 ? 'active' : ''">
                            4
                        </div>
                    </div>
                </transition>

                <video class="questions__video" autoplay muted loop>
                    <source :src="`${url}/images/experience/intro/bg_intro.mp4`" type="video/mp4">
                </video>
                <div class="wrapper">
                    <div class="questions__head">
                        <img class="questions__head-logo" :src="`${url}/images/experience/logo_experience.png`" alt="Logo La Experiencia food provoker">
                        <div class="questions__head-text" v-show="step == 1">QUEREMOS CELEBRAR CONTIGO...</div>
                        <div class="questions__head-text" v-show="step == 3">POR SUPUESTO QUE ESTO MERECE SER FESTEJADO, {{ user_name }}...</div>
                    </div>
                    <div class="questions__body">

                            <transition name="fade">
                                <div class="questions__item" v-show="step == 0">
                                    <div class="questions__item-text">
                                        ¡DESCUBRE UNA MANERA ÚNICA, ORIGINAL E INTERACTIVA DE CELEBRAR CON PARMA!
                                    </div>
                                    <br>
                                    <button class="btn btn--border btn--brown" v-on:click="step++">
                                        <span>
                                            COMENZAR
                                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                                        </span>
                                    </button>
                                </div>
                            </transition>
                    
                            <transition name="fade">
                                <div class="questions__item" v-show="step == 1" v-cloak>
                                    <div class="form__froup">
                                        <label for="">INGRESA TU NOMBRE</label>
                                        <input type="text" v-model="user_name" required>
                                    </div>
                                    <span class="questions__item-error" v-show="showNameError">Debes de llenar este campo</span>
                                    <br>
                                    <div class="questions__item-text text-center max600">
                                        PORQUE HAS DADO LO MEJOR DE TI EN CADA LOGRO, ÉXITO Y NUEVA ETAPA DE TU VIDA.
                                    </div>
                                    <br>
                                    <button class="btn btn--border btn--brown" v-on:click.stop="nextStep(2)">
                                        <span>
                                            SIGUIENTE
                                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                                        </span>
                                    </button>
                                </div>
                            </transition>
                    
                            <transition name="fade">
                                <div class="questions__item" v-show="step == 2" v-cloak>
                                    <div class="form__froup2">
                                        <label for="">DINOS, ¿QUÉ FESTEJAMOS HOY?</label>
                                        <div class="select-container">
                                            <select name="" id="" v-model="celebrationSelected" @change="selectCelebration($event)">
                                                <option disabled value="">SELECCIONA UNA OPCIÓN</option>
                                                <option :value="celebration.id - 1" v-for="celebration in celebrations" :key="celebration.id" :id="celebration.id">
                                                    {{ celebration.name }}
                                                </option>
                                            </select>
                                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                                        </div>
                                    </div>
                                    <span class="questions__item-error" v-show="showCelebrationError">Debes seleccionar una opción</span>
                                    <button class="btn btn--border btn--brown" v-on:click.stop="nextStep(3)">
                                        <span>
                                            SIGUIENTE
                                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                                        </span>
                                    </button>
                                </div>
                            </transition>
                        
                            <div class="questions__item" v-show="step == 3" v-cloak>
                                <div class="">
                                    <label class="text-center">
                                        ¿CUÁL SERÁ TU SELECCIÓN PARA CELEBRAR?
                                    </label>
                                    <div class="options_response">

                                        <div v-on:click="createRegister(category.id)" class="options_response__item" v-for="category in categories" :key="category.id" :id="category.id">
                                            <img :src="`${url}/storage/${category.image_products}`" :alt="category.name">
                                            <div class="options_response__item-name">
                                                <p>{{ category.name }}</p>
                                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                    </div>
                    <div class="questions__footer">
                        CELEBREMOS JUNTOS ESOS MOMENTOS ESPECIALES DE TU VIDA.
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
    import VueSlickCarousel from 'vue-slick-carousel'
    import 'vue-slick-carousel/dist/vue-slick-carousel.css'
    export default {
        components: { VueSlickCarousel },
        data() {
            return {
                url: $('#url').text(),
                step: 0,
                user_name: '',
                celebrationSelected: 0,
                categories: [],
                celebrations: [],
                showNameError: false,
                showCelebrationError: false,
            }
        },
        mounted() {
            this.getCelebrations();
            this.getCategories();
        },
        methods: {
            getCelebrations() {
                axios.get(`/get-celebrations`)
                .then(resp => {
                    this.celebrations = resp.data;
                    this.selectCelebration(2);
                })
                .catch(err => {
                    
                })
            },
            nextStep(num) {
                if (num == 2){
                    if(this.user_name == ''){
                        this.showNameError = true;
                    }else{
                        this.step++;
                    }
                }else if(num == 3){
                    if(this.celebrationSelected == null){
                        this.showCelebrationError = true;
                    }else{
                        this.step++;
                    }
                }
            },
            getCategories() {
                axios.get(`/get-categories`)
                .then(resp => {
                    this.categories = resp.data;
                })
                .catch(err => {
                    
                })
            },
            createRegister(categoryId) {
                axios.post('/create-experience', null, { params: {
                    name: this.user_name,
                    celebration_id: this.celebrationSelected + 1,
                    category_id: categoryId,
                }})
                .then(resp => {
                    window.location.href = `${this.url}/experiencia/${this.celebrations[this.celebrationSelected]['slug']}?id=${resp.data}`;
                })
                .catch(err => {
                
                })
            }
        }
    }
</script>

<style lang="scss">
    
</style>

