<template>
    <VueSlickCarousel v-if="productsList.length > 0" ref="slick" v-bind="slickOptions" class="products-carousel">
        <div class="products-carousel__item" v-for="product in productsList" :key="product.id" :id="product.id">
            <a :href="`${url}/productos/${categorySlug}/${product.slug}`">
                <img class="products-carousel__item-image" :src="`${url}/storage/${product.image_thumb}`" :alt="product.name">
                <div class="products-carousel__item-name">
                    <strong>{{ product.name }}</strong>
                    {{ product.presentation }}
                </div>
            </a>
        </div>
        <template #prevArrow="">
            <div class="arrow-btn arrow-left">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
            </div>
        </template>
        <template #nextArrow="">
            <div class="arrow-btn arrow-right">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
            </div>
        </template>
    </VueSlickCarousel>
</template>

<script>
    import VueSlickCarousel from 'vue-slick-carousel'
    import 'vue-slick-carousel/dist/vue-slick-carousel.css'
    export default {
        props: {
            category: {
                type: Number,
            },
            except: {
                type: Number
            }
        },
        components: { VueSlickCarousel },
        data() {
            return {
                url: $('#url').text(),
                products: [],
                categorySlug: [],
                slickOptions: {
                    arrows: true,
                    dots: false,
                    autoplay: true,
                    autoplaySpeed: 1600,
                    speed: 500,
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    infinite: true,
                    touchMove: true,
                    responsive: [
                        {
                          breakpoint: 1279,
                          settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                          }
                        },
                        {
                          breakpoint: 1023,
                          settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                          }
                        },
                        {
                          breakpoint: 480,
                          settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                          }
                        }
                        // You can unslick at a given breakpoint now by adding:
                        // settings: "unslick"
                        // instead of a settings object
                    ]
                },
            }
        },
        computed: {
            productsList: function () {
                var productExcept = this.except;
                if(productExcept){
                    return this.products.filter(function (product) {
                        return product.id != productExcept
                    })
                    
                }else{
                    return this.products;
                }
            }
        },
        mounted() {
            this.getProducts();
        },
        methods:{
            getProducts() {
                axios.get(`/get-products/${this.category}`)
                .then(resp => {
                    this.products = resp.data.products;
                    this.categorySlug = resp.data.categorySlug;
                })
                .catch(err => {
                    
                })
            }
        }
    }
</script>

<style lang="scss">

    .products-carousel{
        display: flex;
        justify-content: center;
        align-items: center;
        
        .slick-list{
            width: calc(100% - 60px);
        }
        .arrow-btn{
            color: #171717;
            width: 60px;
            position: absolute;
            cursor: pointer;
            transition: linear 0.2s;
            &:hover{
                color: #cab392;
            }
        }
        .arrow-left{
            transform: rotate(180deg);
            top: calc(50% - 14px - 20px);
            right: 10px;
        }
        .arrow-right{
            top: calc(50% - 14px + 20px);
            right: 10px;
        }

        &__item{
            display: block;
            margin: 0 1rem;
            a{
                display: block;
                transition: linear 0.2s;
            }
            &-image{
                display: block;
                width: 100%;
                height: 300px;
                object-fit: contain;
                margin: 0 auto;
            }
            &-name{
                text-align: center;
                color: #ad0a3c;
                font-family: 'Gotham Light';
                padding: 0 1rem;
                strong{
                    display: block;
                    font-family: "Gotham Medium";
                }
            }
            &:hover a{
                margin-top: -1rem;
            }
        }
    }
</style>
