<template>
    <div class="wheretobuy" v-if="productRetailers.length > 0">
        <h3>
            DÓNDE COMPRAR
            <span class="wheretobuy__state">( {{ this.state }} )</span>
        </h3>
        
        <div class="wheretobuy__content">
            <div class="wheretobuy__content-item" v-for="retailer in productRetailers" :key="retailer.id" :id="retailer.id">
                <a :href="retailer.link" target="_blank">
                    <img :src="`${url}/storage/${retailer['retailer'].image_white}`" :alt="retailer.name">
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            product: {
                type: Number,
            },
        },
        data() {
            return {
                url: $('#url').text(),
                productRetailers: [],
                state: null,
            }
        },
        mounted() {
            this.getState();
        },
        methods: {
            getState(){
                axios.get(`https://ipgeolocation.abstractapi.com/v1?api_key=19e6ad7c4a9445eea165a46305400101`)
                .then(resp => {
                    this.state = resp.data.region;
                    this.getProductRetailers(resp.data.region);
                })
                .catch(err => {
                    
                })
            },
            getProductRetailers(state) {
                axios.get(`/get-productsRetailers/${this.product}?state=${state}`)
                .then(resp => {
                    this.productRetailers = resp.data;
                })
                .catch(err => {
                    
                })
            },
        }
    }
</script>

<style lang="scss">
    .wheretobuy{
        margin-top: 1rem;
        h3{
            color: #fff;
            margin-left: 0.5rem;
            margin-bottom: 0.5rem;
        }
        &__state{
            color: #cab392;
        }
        &__content{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            &-item{
                border: solid 2px #fff;
                width: 150px;
                height: 60px;
                cursor: pointer;
                margin: 0.5rem;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    display: block;
                    width: 90%;
                    height: auto;
                    transition: linear 0.2s;
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                &:hover a{
                    width: 100%;
                }
            }
        }
    }

    @media(max-width: 1023px){
        .wheretobuy{
            h3{
                margin: 0;
                text-align: center;
            }
            &__content{
                justify-content: center;
                &-item{
                    border: solid 2px #fff;
                    width: 128px;
                    height: 60px;
                    cursor: pointer;
                    margin: 0.5rem;
                }
            }
        }
    }
</style>
