<template>
    <div class="retailers-carousel">
        <div class="container">
            <div class="retailers-carousel__text">
                DÓNDE 
                <br>
                COMPRAR
            </div>
            <VueSlickCarousel v-if="retailers.length > 0" ref="slick" v-bind="slickOptions" class="retailers-carousel__content">
                <div class="retailers-carousel__content-item" v-for="retailer in retailers" :key="retailer.id" :id="retailer.id">
                    <a :href="retailer.link">
                        <img :src="`${url}/storage/${retailer.image_black}`" :alt="retailer.name">
                    </a>
                </div>
                <template #prevArrow="">
                    <div class="arrow-btn arrow-left">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                    </div>
                </template>
                <template #nextArrow="">
                    <div class="arrow-btn arrow-right">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 545.43 188.72"><polygon points="451.07 0 430.02 20.56 489.13 79.67 0 79.67 0 109.05 489.13 109.05 430.02 168.15 451.07 188.72 545.43 94.36 451.07 0"></polygon></svg>
                    </div>
                </template>
            </VueSlickCarousel>
        </div>
    </div>
</template>

<script>
    import VueSlickCarousel from 'vue-slick-carousel'
    import 'vue-slick-carousel/dist/vue-slick-carousel.css'
    export default {
        components: { VueSlickCarousel },
        data() {
            return {
                url: $('#url').text(),
                retailers: [],
                slickOptions: {
                    arrows: true,
                    dots: false,
                    autoplay: false,
                    speed: 800,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    infinite: true,
                    touchMove: true,
                    responsive: [
                        {
                            breakpoint: 767,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 1
                            }
                        },
                        {
                          breakpoint: 567,
                          settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                          }
                        }
                    ]
                },
            }
        },
        mounted() {
            this.getRetailers();
        },
        methods:{
            getRetailers() {
                axios.get("/get-retailers?general=true")
                .then(resp => {
                    this.retailers = resp.data;
                })
                .catch(err => {
                    
                })
            },
        }
    }
</script>


<style lang="scss">
    .retailers-carousel{
        background-color: #8f6f4a;
        height: 100px;
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
        &__text{
            width: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 0.5rem;
            border-right: solid 1px rgb(0 0 0 / 20%);
            height: 100px;
            font-size: 1rem;
            text-align: right;
            letter-spacing: 5px;
            line-height: 2rem;
        }
        &__content{
            width: calc(100% - 180px);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            &-item{
                margin: 0 1rem;
                a{
                    display: block;
                    width: 150px;
                    margin: 0 auto;
                    transition: linear;
                    img{
                        margin: 0 auto;
                        display: block;
                        width: 100%;
                    }
                    &:hover img{
                        filter: invert(1);
                    }
                }
            }
        }
        .slick-list{
            width: calc(100% - 80px);
        }
        .arrow-btn{
            color: #171717;
            width: 60px;
            position: absolute;
            cursor: pointer;
            transition: linear 0.2s;
            &:hover{
                color: #fff;
            }
        }
        .arrow-left{
            transform: rotate(180deg);
            top: calc(50% - 14px - 20px);
            right: 10px;
        }
        .arrow-right{
            top: calc(50% - 14px + 20px);
            right: 10px;
        }
    }

    @media(max-width: 767px){
        .retailers-carousel{
            &__text {
                width: 100px;
                height: 100px;
                font-size: .8rem;
                letter-spacing: 2px;
                line-height: 1.5rem;
            }
            &__content{
                width: calc(100% - 100px);
            }
            .slick-list{
                width: calc(100% - 60px);
            }
            .arrow-btn{
                width: 40px;
            }
        }
    }
</style>

