<template>

    <div>
        <div class="retailers__banner">
            <div class="container">
                <h1>DÓNDE COMPRAR</h1>
                <div class="retailers__banner-select">
                    <label for="">Selecciona un lugar</label>
                    <select v-model="state" @change="onChangeStateSelect($event)">

                        <option :value="item.name" 
                            v-for="item in statesList" 
                            :key="item.id"
                            :selected="state == item.name"
                        >
                            {{ item.name }}
                        </option>


                    </select>
                </div>
                <img class="img-plato" :src="`${url}/images/retailers/plato.png`" alt="Parma Dónde Comprar">
            </div>
        </div>

        <div class="retailers__content">
            <div class="container">

                <div class="" v-for="retailer in stateRetailers" :key="retailer.id" :id="retailer.id">
                    <a :href="retailer.link" class="retailers__item" target="_blank">

                        <div class="retailers__item-logo">
                            <img :src="`${url}/storage/${retailer['retailer'].image_black}`" :alt="retailer.name">
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                url: $('#url').text(),
                stateRetailers: [],
                state: null,
                statesList: []
            }
        },
        mounted() {
            this.getStatesList();
            this.getState();
        },
        methods: {
            getStatesList() {
                axios.get(`/get-states`)
                .then(resp => {
                    this.statesList = resp.data;
                })
                .catch(err => {
                    
                })
            },
            getState(){
                axios.get(`https://ipgeolocation.abstractapi.com/v1?api_key=19e6ad7c4a9445eea165a46305400101`)
                .then(resp => {
                    this.state = resp.data.region;
                    this.getStateRetailers(resp.data.region);
                })
                .catch(err => {
                    
                })
            },
            getStateRetailers(state) {
                axios.get(`/get-stateRetailers?state=${state}`)
                .then(resp => {
                    this.stateRetailers = resp.data;
                })
                .catch(err => {
                    
                })
            },
            onChangeStateSelect(event) {
                this.getStateRetailers(event.target.value);
            }
        }
    }
</script>

<style lang="scss">
    
</style>

